<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{style :: bootstrapHeader}">
</head>
<body>
<header th:replace="~{style :: bootstrapHeaderBody}"></header>


<section class="container">
    <div class="p-3 text-center bg-image"
         style="height: 150px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h2 class="mb-3 management">Employee Management</h2>
                    <button type="button" class="btn btn-outline-success btn-lg buttons" data-bs-toggle="modal"
                            data-bs-target="#staticBackdropCreate">
                        Create Employee
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdropCreate" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content get-in-touch">
                                <div class="modal-header">
                                    <h6 class="modal-title titleModal" id="staticBackdropLabelCreate">Create Employee</h6>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="text-danger" id="tableInputName"></div>
                                        <form class="contact-form row"  >
                                            <!-- name input-->
                                            <div class="form-field col-lg-6">
                                                <input id="name" class="input-text js-input" type="text"  required>
                                                <label class="label" for="name">Name</label>
                                            </div>
                                            <!-- birthday input-->
                                            <div class="form-field col-lg-6">
                                                <input id="dateOfBird" class="input-text js-input" type="text"  required>
                                                <label class="label" for="dateOfBird">Date Of Bird</label>
                                            </div>
                                            <!-- address input-->
                                            <div class="form-field col-lg-6">
                                                <input id="address" class="input-text js-input" type="text"  required>
                                                <label class="label" for="address">Address</label>
                                            </div>
                                            <!-- idCard input-->
                                            <div class="form-field col-lg-6">
                                                <input id="idCard" class="input-text js-input" type="text"  required>
                                                <label class="label" for="idCard">Id Card</label>
                                            </div>
                                            <!-- phoneNumber input-->
                                            <div class="form-field col-lg-6">
                                                <input id="phone" class="input-text js-input" type="text"  required>
                                                <label class="label" for="phone">Phone</label>
                                            </div>
                                            <!-- email input-->
                                            <div class="form-field col-lg-6">
                                                <input id="email" class="input-text js-input" type="email"  required>
                                                <label class="label" for="email">Email</label>
                                            </div>
                                            <!-- salary input-->
                                            <div class="form-field col-lg-6">
                                                <input id="salary" class="input-text js-input" type="text"  required>
                                                <label class="label" for="salary">Salary</label>
                                            </div>
                                            <div class="form-field col-lg-6">
                                                <select class="form-select" id="educationDegree">
                                                    <option th:each="item, loop : ${educationDegreeList}" th:text="${item.name}" th:value="${item.id}"></option>
                                                </select>
                                            </div>

                                            <div class="form-field col-lg-6">
                                                <select class="form-select" id="position">
                                                    <option th:each="item, loop : ${positionList}" th:text="${item.name}" th:value="${item.id}"></option>
                                                </select>
                                            </div>
                                            <div class="form-field col-lg-6">
                                                <select class="form-select" id="division">
                                                    <option th:each="item, loop : ${divisionList}" th:text="${item.name}" th:value="${item.id}"></option>
                                                </select>
                                            </div>
                                            <div class="form-field col-lg-12">
                                                <input class="submit-btn" type="submit" value="Submit" id="bthSaveCreate">
                                            </div>
                                            <a href="/employee" class="btn btn-outline-secondary">Back home</a>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <form class="d-flex">
                <input class="form-control me-2 buttons1" type="search" name="search"
                       id="inputSearch" aria-label="Search">
                <button class="btn btn-outline-success buttons1" type="submit" id="btnSearch">Search</button>
            </form>
        </div>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Birthday</th>
                <th>address</th>
                <th>Position</th>
                <th>Education Degree</th>
                <th>Division</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="employeeBody">

            </tbody>
        </table>
        <div>
            <div id="pagingTable">

            </div>
        </div>

    </div>
</section>
<div class="modal fade" id="staticBackdropEdit" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content get-in-touch">
            <div class="modal-header">
                <h6 class="modal-title titleModal" id="staticBackdropLabelEdit">Edit Employee</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="text-danger" id="tableInput"></div>
                    <form class="contact-form row" >
                        <div class="form-field col-lg-6">
                            <input id="idEdit" class="input-text js-input" type="text"  readonly>
                            <label class="label" for="idEdit">Id</label>
                        </div>
                        <!-- name input-->
                        <div class="form-field col-lg-6">
                            <input id="nameEdit" class="input-text js-input" type="text"  required>
                            <label class="label" for="nameEdit">Name</label>
                        </div>
                        <!-- birthday input-->
                        <div class="form-field col-lg-6">
                            <input id="dateOfBirdEdit" class="input-text js-input" type="text"  required>
                            <label class="label" for="dateOfBirdEdit">Date Of Bird</label>
                        </div>
                        <!-- address input-->
                        <div class="form-field col-lg-6">
                            <input id="addressEdit" class="input-text js-input" type="text"  required>
                            <label class="label" for="addressEdit">Address</label>
                        </div>
                        <!-- idCard input-->
                        <div class="form-field col-lg-6">
                            <input id="idCardEdit" class="input-text js-input" type="text"  required>
                            <label class="label" for="idCardEdit">Id Card</label>
                        </div>
                        <!-- phoneNumber input-->
                        <div class="form-field col-lg-6">
                            <input id="phoneEdit" class="input-text js-input" type="text"  required>
                            <label class="label" for="phoneEdit">Phone</label>
                        </div>
                        <!-- email input-->
                        <div class="form-field col-lg-6">
                            <input id="emailEdit" class="input-text js-input" type="email"  required>
                            <label class="label" for="emailEdit">Email</label>
                        </div>
                        <!-- salary input-->
                        <div class="form-field col-lg-6">
                            <input id="salaryEdit" class="input-text js-input" type="text"  required>
                            <label class="label" for="salaryEdit">Salary</label>
                        </div>
                        <div class="form-field col-lg-6">
                            <select class="form-select" id="educationDegreeEdit">
                                <option th:each="item, loop : ${educationDegreeList}" th:text="${item.name}" th:value="${item.id}" th:id="'educationDegreeEdit'+${item.id}"></option>
                            </select>
                        </div>

                        <div class="form-field col-lg-6">
                            <select class="form-select" id="positionEdit">
                                <option th:each="item, loop : ${positionList}" th:text="${item.name}" th:value="${item.id}" th:id="'positionEdit'+${item.id}"></option>
                            </select>
                        </div>
                        <div class="form-field col-lg-6">
                            <select class="form-select" id="divisionEdit">
                                <option th:each="item, loop : ${divisionList}" th:text="${item.name}" th:value="${item.id}" th:id="'divisionEdit'+${item.id}"></option>
                            </select>
                        </div>
                        <div class="form-field col-lg-12">
                            <input class="submit-btn" type="submit" value="Save Changes" id="btnSaveEdit">
                        </div>
                        <a id="" class="btn btn-outline-secondary">Back home</a>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function getPageEmployee(searchName,pageNumber) {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "http://localhost:8080/restEmployee?search=" + searchName+ "&page="+ pageNumber,
            success: function (employeePage) {
                let employeeHTML = "";
                for (let i = 0; i < employeePage.content.length; i++) {
                    employeeHTML += `<tr>
                     <td>${i + 1}</td>
                      <td>${employeePage.content[i].name}</td>
                      <td>${employeePage.content[i].phone}</td>
                      <td>${employeePage.content[i].dateOfBird}</td>
                      <td>${employeePage.content[i].address}</td>
                      <td>${employeePage.content[i].position.name}</td>
                      <td>${employeePage.content[i].educationDegree.name}</td>
                      <td>${employeePage.content[i].division.name}</td>

                      <td>
                        <a href="${employeePage.content[i].id}" class="btn btn-outline-warning" id="btnEdit">
                            Edit
                        </a>
                      </td>
                      <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#staticBackdropDelete${employeePage.content[i].id}">
                            Delete
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdropDelete${employeePage.content[i].id}" data-bs-backdrop="static"
                             data-bs-keyboard="false"
                             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title fw-bold text-danger" id="staticBackdropLabel">
                                            Warning!!!</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to delete employee ${employeePage.content[i].name} with id = ${employeePage.content[i].id} ?
                                    </div>
                                    <div class="modal-footer">
                                        <a href="${employeePage.content[i].id}" type="button" class="btn btn-outline-primary" id="btnDelete">Submit</a>
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>;`
                }
                let pagination = "";
                pagination += `<div class="container mt-3">`
                pagination += `<ul class="pagination float-end">`;
                switch (Number(pageNumber)) {
                    case 0:
                        pagination += `<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>`
                        break;
                    default:
                        pagination += `<li class="page-item"><a class="page-link" id="aPrevious" href="${employeePage.number}">Previous</a></li>`
                        break;
                }
                for (let i = 0; i < employeePage.totalPages; i++) {
                    switch (Number(i)) {
                        case Number(pageNumber):
                            pagination += `<li class="page-item active"><a class="page-link" id="aItem" href="` + i + `">` + (i + 1) + `</a></li>`
                            break;
                        default:
                            pagination += `<li class="page-item"><a class="page-link" id="aItem" href="` + i + `">` + (i + 1) + `</a></li>`
                            break;
                    }
                }
                switch (Number(employeePage.number)) {
                    case employeePage.totalPages = (Number(employeePage.totalPages <= 0) ? 0 : Number(employeePage.totalPages - 1)):
                        pagination += `<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>`
                        break;
                    default:
                        pagination += `<li class="page-item"><a class="page-link" id="aNext" href="${employeePage.number}">Next</a></li>`
                        break;
                }
                pagination += `</ul>`
                pagination += `</div>`;
                $('#employeeBody').html(employeeHTML);
                $("#pagingTable").html(pagination);
            },

            error: function (resultError) {
                console.log('error')
            }
        })
    };
    getPageEmployee("",0);

    $("#bthSaveCreate").click(function () {
        let name = $('#name').val();
        let dateOfBird = $('#dateOfBird').val();
        let idCard = $('#idCard').val();
        let salary = $('#salary').val();
        let phone = $('#phone').val();
        let email = $('#email').val();
        let address = $('#address').val();
        let position = $('#position').val();
        let educationDegree = $('#educationDegree').val();
        let division = $('#division').val();
        let appUser = $('#appUser').val();

        let newEmployee = {
            name: name,
            dateOfBird: dateOfBird,
            idCard: idCard,
            salary: salary,
            phone: phone,
            email: email,
            address: address,
            position: {
                "id": position
            },
            educationDegree: {
                "id": educationDegree
            },
            division: {
                "id": division
            },
            appUser: {
                "id": appUser
            },
        };
        $.ajax({
            headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
            },
            type: "POST",
            data: JSON.stringify(newEmployee),
            url: "http://localhost:8080/restEmployee/create",
            success: function (employeePage) {
                $("#name").val("");
                $("#dateOfBird").val("");
                $("#idCard").val("");
                $("#phone").val("");
                $("#address").val("");
                $("#email").val("");
                $("#salary").val("");
                $("#staticBackdropCreate").modal("hide");
                getPageEmployee("",0);
            },
            error: function (resultError) {
                console.log('Co loi xay ra');
            }
        });
    })
    $(document).ready(function () {
        $("#employeeBody").on("click", "#btnDelete", function (event) {
            let id = $(this).attr("href");
            event.preventDefault();
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "DELETE", //GET, DELETE, PUT...
                url: "http://localhost:8080/restEmployee/delete/" + id,
                success: function (resultSuccess) {
                    $("#staticBackdropDelete" + id).modal("hide");
                    getPageEmployee("", 0);
                },
                error: function (resultError) {
                    console.log('Co loi xay ra');
                }
            });
        })
    });

    $(document).ready(function () {
            $("#employeeBody").on("click", "#btnEdit", function (event) {
                let id = $(this).attr("href");
                event.preventDefault();
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "GET", //GET, DELETE, PUT...
                    url: "http://localhost:8080/restEmployee/edit/" + id,
                    success: function (employee) {
                        $("#idEdit").val(employee.id);
                        $("#nameEdit").val(employee.name);
                        $("#dateOfBirdEdit").val(employee.dateOfBird);
                        $("#addressEdit").val(employee.address);
                        $("#idCardEdit").val(employee.idCard);
                        $("#phoneEdit").val(employee.phone);
                        $("#emailEdit").val(employee.email);
                        $("#salaryEdit").val(employee.salary);
                        let educationDegreeEditId = "educationDegreeEdit" + employee.educationDegree.id;
                        let positionEditId = "positionEdit" + employee.position.id;
                        let divisionEditId = "divisionEdit" + employee.division.id;
                        document.getElementById(educationDegreeEditId).setAttribute("selected", "");
                        document.getElementById(positionEditId).setAttribute("selected", "");
                        document.getElementById(divisionEditId).setAttribute("selected", "");
                        $(".btnCloseEdit").click(function (event) {
                            document.getElementById(educationDegreeEditId).removeAttribute("selected");
                            document.getElementById(positionEditId).removeAttribute("selected");
                            document.getElementById(divisionEditId).removeAttribute("selected");
                        })
                        $("#staticBackdropEdit").modal("show");
                    },
                    error: function (resultError) {
                        console.log('Co loi xay ra');
                    }
                });
            })
    })
    $("#btnSaveEdit").click(function () {
            let eId = $("#idEdit").val();
            let eName = $("#nameEdit").val();
            let eDateOfBird = $("#dateOfBirdEdit").val();
            let eAddress = $("#addressEdit").val();
            let eIdCard = $("#idCardEdit").val();
            let ePhone = $("#phoneEdit").val();
            let eEmail = $("#emailEdit").val();
            let eSalary = $("#salaryEdit").val();
            let eEducationDegree = $("#educationDegreeEdit").val();
            let eDivision = $("#divisionEdit").val();
            let ePosition = $("#positionEdit").val();
            let employeeEdit = {
                id: eId,
                name: eName,
                dateOfBird: eDateOfBird,
                address: eAddress,
                idCard: eIdCard,
                phone: ePhone,
                email: eEmail,
                salary: eSalary,
                educationDegree: {
                    "id": eEducationDegree
                },
                division: {
                    "id": eDivision
                },
                position: {
                    "id": ePosition
                },
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "PUT", //GET, DELETE, PUT...
                url: "http://localhost:8080/restEmployee/edit",
                data: JSON.stringify(employeeEdit),
                success: function (employeePage) {
                    getPageEmployee("",0);
                    $("#staticBackdropEdit").modal("hide");
                },
                error: function (resultError) {
                    console.log('Co loi xay ra');
                }
            });
    })

    $("#pagingTable").on("click", "#aNext", function (event) {
        let numberPage = $(this).attr("href");
        numberPage++;
        event.preventDefault();
        getPageEmployee("",numberPage);
    })
    $("#pagingTable").on("click", "#aPrevious", function (event) {
        let numberPage = $(this).attr("href");
        numberPage--;
        event.preventDefault();
        getPageEmployee("",pageNumber);
    })
    $("#pagingTable").on("click", "#aItem", function (event) {
        let numberPage = $(this).attr("href");
        event.preventDefault();
        getPageEmployee("",pageNumber);
    })
    $("#btnSearch").click(function (event) {
        let search = $("#inputSearch").val();
        getPageEmployee(search,0);
    })
</script>


<footer id="footer" th:replace="~{style :: bootstrapBodyDiv}"></footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:replace="~{/style :: bootstrapFooter}"></th:block>
</body>

</html>