<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{style :: bootstrapHeader}">
</head>
<body>
<header th:replace="~{style :: bootstrapHeaderBody}"></header>


<section class="container">
    <div class="p-3 text-center bg-image"
         style="height: 150px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h2 class="mb-3">Employee Management</h2>
                    <a href="" th:href="@{/employee/create}" class="btn btn-outline-success btn-lg" role="button">Create
                        Employee</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <form class="d-flex">
                <input class="form-control me-2" type="search" name="search"
                       placeholder="Search By Name" th:value="${searchName}" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" name="name">Search</button>
            </form>
        </div>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>idCard</th>
                <th>phone</th>
                <th>email</th>
                <th>address</th>
                <th>Position</th>
                <th>EducationDegree</th>
                <th>Division</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fa, loop : ${employeeList}">
                <td th:text="${loop.count}"></td>
                <td th:text="${fa.name}"></td>
                <td th:text="${fa.idCard}"></td>
                <td th:text="${fa.phone}"></td>
                <td th:text="${fa.email}"></td>
                <td th:text="${fa.address}"></td>
                <td th:text="${fa.position.name}"></td>
                <td th:text="${fa.educationDegree.name}"></td>
                <td th:text="${fa.division.name}"></td>
                <td>
                    <a th:href="@{/employee/edit/{id}(id=${fa.id})}" class="btn btn-outline-success">Edit</a>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#staticBackdrop' + ${fa.id}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="staticBackdrop + ${fa.id}" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="staticBackdropLabel">Warning!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Do you want delete Employee <span th:text="${fa.name}" class="text-warning"></span>
                                    with id = <span th:text="${fa.id}" class="text-warning"></span> ?
                                </div>
                                <div class="modal-footer">
                                    <a href="" th:href="@{/employee/delete/{id}(id=${fa.id})}"
                                       class="btn btn-outline-success">Delete</a>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-10"> </div>
            <div class="col-2 ">
                <ul class="pagination" th:if="${employeeList.totalPages > 0}">
                    <li class="page-item">
                        <a class="page-link" th:if="${employeeList.hasPrevious()}"
                           th:href="@{'/employee'(page=${employeeList.number - 1}, search=${searchName})}">
                            Previous
                        </a>
                    </li>
                    <div th:each="item, loop : ${#numbers.sequence(1, employeeList.totalPages )}">
                        <div th:if="${(employeeList.number + 1) == item}">
                            <li class="page-item active">
                                <a class="page-link" href="#" th:text="${item}" th:href="@{/employee(page=(${item}-1),
                             search=${searchName})}"></a>
                            </li>
                        </div>
                        <div th:unless="${((employeeList.number + 1) == item)}">
                            <li class="page-item">
                                <a class="page-link" href="#" th:text="${item}" th:href="@{/employee(page=(${item}-1),
                             search=${searchName} )}"></a>
                            </li>
                        </div>
                    </div>
                    <li class="page-item">
                        <a class="page-link" th:if="${employeeList.hasNext()}"
                           th:href="@{'/employee'(page=${employeeList.number + 1}, search=${searchName})}">
                            Next
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<footer id="footer">
    <div th:replace="~{style :: bootstrapBodyDiv}"></div>

</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:replace="~{/style :: bootstrapFooter}"></th:block>
</body>
</html>