<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{style :: bootstrapHeader}">
</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <a class="logo"><img src="assets/img/slide/sharingan"/></a>
        <h1 class="logo me-auto"><a href=""><span>Fu</span>rama</a></h1>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a href="" class="active">Home</a></li>
                <li><a href="/customer">Customer</a></li>
                <li><a href="/employee">Employee</a></li>
                <li><a href="/facility">Service</a></li>
                <li><a href="/contract">Contract</a></li>
                <li class="dropdown"><a href="#"><span>Another</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/details-contract">Detail Contract</a></li>
                        <li><a href="/booking">Booking</a></li>
                        <li><a href="/customer-using-service.html">Customer Using Service</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="header-social-links d-flex">
            <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></i></a>
        </div>
    </div>
</header><!-- End Header -->

<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp text-center">
                        <h3>“Death is like the wind – always by my side.”</h3>
<!--                        <p>my heart and soul always  for demacia</p>-->
                        <div><a href="" class="btn-get-started">FATE</a></div>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp text-center">
                        <h3>“Death is like the wind – always by my side.”</h3>
<!--                        <p>my heart and soul always  for demacia</p>-->
                        <div><a href="" class="btn-get-started">FATE</a></div>
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp text-center">
                        <h3>“Death is like the wind – always by my side.”</h3>
<!--                        <p>my heart and soul always  for demacia</p>-->
                        <div><a href="" class="btn-get-started">FATE</a></div>
                    </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
</section><!-- End Hero -->
<!-- ======= Our Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Clients</h2>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo"><img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
            </div>

        </div>

    </div>
</section><!-- End Our Clients Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>FATE</h3>
                        <p>
                            36 TH Province <br>
                            VN xxxxx, VN<br><br>
                            <strong>Phone:</strong> (+84)-90xxxxxxx<br>
                            <strong>Email:</strong> vietnammes@example.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4 footer-end">
        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Company</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Edit Designed by <a href="https://bootstrapmade.com/">Háck Bất Tử</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


<!-- Vendor JS Files -->

<th:block th:replace="~{style :: bootstrapFooter}"></th:block>

</body>

</html>