<div id="fate">
  <div class="container bg-light">
    <div class="row col-lg-12 management">
      <div class=" col-lg-8 ">
        <h1 class="mb-5 text-success text-center title">Chỉnh Sửa Thông Tin Nhân Viên</h1>
        <form class="row g-3" [formGroup]="employeeForm" *ngIf="employeeForm" (ngSubmit)="updateEmployee()">
          <div class="row g-3">

            <div class="col-6">
              <label>UserName</label>
              <select formControlName="UserName" name="UserName" class="form-control"
                      [compareWith]="compareUserName" [(ngModel)]="employee.username">
                <option *ngFor="let item of user" [ngValue]="item" readonly="">{{item.userName}}</option>
              </select>
            </div>

            <div class="col-6">
              <label for="name" class="form-label">Tên nhân viên<span style="color: red"> *</span></label>
              <input type="text" class="form-control" id="name" formControlName="name">
              <div *ngIf="!name.valid && (name.dirty || name.touched)">
                <div class="text-danger" [hidden]="!name.errors.required">Quantity id not required</div>
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Hình ảnh<span class="complain">(*)</span> </label>
              <input id="image" type="file" class="form-control" formControlName="image" name="image">
            </div>

            <div class="col-md-6">
              <label for="birthDay" class="form-label">Ngày sinh</label>
              <input type="date" class="form-control" id="birthday" formControlName="birthDay">
            </div>

            <div class="col-md-6">
              <label for="address" class="form-label">địa chỉ<span style="color: red"> *</span></label>
              <input type="text" class="form-control" id="address" formControlName="address">
              <div *ngIf="!address.valid && (address.dirty || address.touched)">
                <div class="text-danger" [hidden]="!address.errors.required">Date In id not required</div>
              </div>
            </div>

            <div class="col-md-6">
              <label> Giới tính </label>
              <input type="radio" value="male" id="male" name="gender" formControlName="gender"> Nam
              <input type="radio" value="female" id="female" name="gender" formControlName="gender"> Nữ
              <input type="radio" value="other" id="other" name="gender" formControlName="gender"> Giới tính khác
            </div>

            <div class="col-6">
              <label for="phone" class="form-label">Số điện thoại<span style="color: red"> *</span></label>
              <input type="text" class="form-control" id="phone" formControlName="phone">
              <div *ngIf="!phone.valid && (phone.dirty || phone.touched)">
                <div class="text-danger" [hidden]="!phone.errors.required">Phone id not required</div>
              </div>
            </div>
            <div class="col-6">
              <label for="salary" class="form-label">Lương (VND)<span style="color: red"> *</span></label>
              <input type="text" class="form-control" id="salary" formControlName="salary">
              <div *ngIf="!salary.valid && (salary.dirty || salary.touched)">
                <div class="text-danger" [hidden]="!salary.errors.required">Salary not required</div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="position" class="form-label">Vị trí<span style="color: red"> *</span></label>
              <select formControlName="position" name="position" class="form-control"
                      [compareWith]="comparePosition" [(ngModel)]="employee.position">
                <option *ngFor="let item of position" [ngValue]="item">{{item.name}}</option>
              </select>
            </div>
            <hr>
            <div class="col-12 row">
              <div class="col-8">
              </div>
              <div class="col-2">
                <button class="btn btn-outline-primary w-100" [disabled]="!employeeForm.valid">Save</button>
              </div>
              <div class="col-2">
                <a [routerLink]="['/employee-list']" class="btn btn-outline-secondary">Back home</a>
              </div>
            </div>

          </div>
        </form>
      </div>

      <div class=" col-lg-4 order-md-last form">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-success">Coffee Market</span>
          <span class="badge bg-success rounded-pill">$</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Vietnamese</h6>
              <small class="text-muted">Smart Coffee</small>
            </div>
            <span class="text-muted">$1200</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">US-UK</h6>
              <small class="text-muted">Smart Coffee</small>
            </div>
            <span class="text-muted">$1600</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">America</h6>
              <small class="text-muted">Smart Coffee</small>
            </div>
            <span class="text-muted">$1600</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">China</h6>
              <small class="text-muted">Smart Coffee</small>
            </div>
            <span class="text-muted">$1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">C0222G2</h6>
              <small>Smart Coffee</small>
            </div>
            <span class="text-success">−$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$2000</strong>
          </li>
        </ul>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search market">
          <button type="submit" class="btn btn-outline-secondary">Search</button>
        </div>
      </div>
    </div>
  </div>

</div>
