*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    font-family: Arial;
    font-size: 15px;
    display: block;
}
hr{
    border: solid 1px;
    margin-top: 10px;
}

#menu{
    height: 35px;
    background-color: #000000;
    border: 1px solid #CDCDCD;
}

#menu ul, #menu li{
    padding:0;
    margin:0;
}

#menu li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}

#menu li a{
    width:100px;
    height: 30px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: white;
}

#menu li a:hover{
    background-color: red;
}

#menu ul ul{
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;
}

#menu ul li:hover ul{
    visibility: visible;
}
.login{
    float: right;
    color: white;
    margin-top: 5px;
    margin-right: 10px;
}
#left{
    width: 20%;
    height: 560px;
    float: left;
    background-color: #CDCDCD;
}
.temp-left{
    padding: 20px 100px;
}
.temp-left-1{
    text-decoration: none;
}
.temp-left-1:hover{
    background-color: #2374e1;
}
#center{
    width: 58%;
    height: 560px;
    float: left;
    background-color: white;
    padding-left: 20px;

}
#right{
    width: 20%;
    height: 560px;
    float: right;
    background-color: #CDCDCD;
}
.temp-right{
    border: solid 1px red;
    width: 80%;
    padding: 40px 60px;
    margin: 30px;
    height: 100px;
}
#footer{
    height: 30px;
    clear: both;
    border: 1px solid #CDCDCD;
    background-color: black;
    color: #CDCDCD;
    text-align: center;
    padding: 10px;
}
@media screen and (max-width: 600px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .display{
        display: none;
    }
}
@media screen and (max-width: 400px){
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}