<div class="container">
  <div class="text-center" style="height: 150px !important;">
    <h1 class="text-success">List Product</h1>
    <button class="btn btn-outline-success" [routerLink]="'/product-create'">Create Product</button>
  </div>

  <form class="row col-12" [formGroup]="searchForm" (ngSubmit)="searchProduct()">
    <div class="col-8">.</div>
    <div class="col-3 ">
      <input id="name" class="form-control me-2" type="text" placeholder="Search Product Name" aria-label="Search"
             name="nameSearch" formControlName="nameSearch">
    </div>
    <div class="col-1">
      <button id="search" class="btn btn-outline-success" type="submit">Search</button>
    </div>
  </form>


  <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category</th>
        <th colspan="2" class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products, index as i">
        <td>{{i + 1}}</td>
        <td>
          <a href="" class="link-primary nav-link" data-bs-toggle="offcanvas" style="height: 35px"
             [attr.data-bs-target]="'#demo' + product.id">
            {{product.name}}
          </a>
        </td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category.name}}</td>
        <td class="text-center" >
          <a class="btn btn-outline-warning" [routerLink]="['/product-edit', product.id]"> Edit</a>
        </td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                  [attr.data-bs-target]="'#staticBackdropDelete' + product.id">
            Delete
          </button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdropDelete{{product.id}}" data-bs-backdrop="static"
               data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelDelete" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title text-danger" id="staticBackdropLabelDelete">Xóa sản phẩm</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Bạn có muốn xóa sản phẩm <span class="text-danger">{{product.name}}</span> không?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" (click)="deleteProduct(product.id)">Xóa
                  </button>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      <td>
        <div class="offcanvas offcanvas-start" id="demo{{product.id}}">
          <div class="offcanvas-header row text-center">
            <h1 class="offcanvas-title">Chi tiết Sản Phẩm</h1></div>
          <div class="offcanvas-body">
            <div class="container m-auto text-center">
              <table class="m-auto text-center" border="1" cellpadding="8">
                <tr>
                  <td>Mã sản phẩm:</td>
                  <td>{{product.id}}</td>
                </tr>
                <tr>
                  <td>Tên:</td>
                  <td>{{product.name}}</td>
                </tr>
                <tr>
                  <td class="">Giá:</td>
                  <td class="">{{product.description}}</td>
                </tr>
                <tr>
                  <td class="">Loại sản ohaarm</td>
                  <td >{{product.category}}</td>
                </tr>

              </table>
            </div>
            <div class="text-center m-auto mt-3">
              <button class="btn btn-secondary" type="button" data-bs-dismiss="offcanvas">Đóng</button>
            </div>
          </div>
        </div>
      </td>
      </tr>
      </tbody>
      <tbody *ngIf="products.length <= 0">
      <tr class="text-center m-auto">
        <th colspan="5">Không có dữ liệu</th>
      </tr>
      </tbody>
    </table>
    <div class="container-fluid mt-3">
      <ul class="pagination float-end">
        <div *ngIf="number == 0">
          <li class="page-item disabled">
            <button class="page-link text-success" (click)="goPrevious()" hidden>Previous</button>
          </li>
        </div>
        <div *ngIf="number != 0">
          <li class="page-item ">
            <button class="page-link text-success" (click)="goPrevious()">Previous</button>
          </li>
        </div>
        <div *ngFor="let count of countTotalPages; index as i">
          <div *ngIf="i == number">
            <li class="page-item active">
              <button class="page-link text-success" (click)="goItem(i)">{{i + 1}}</button>
            </li>
          </div>
          <div *ngIf="i != number">
            <li class="page-item">
              <button class="page-link text-success" (click)="goItem(i)">{{i + 1}}</button>
            </li>
          </div>
        </div>
        <div *ngIf="number == totalPages - 1">
          <li class="page-item disabled">
            <button class="page-link text-success" (click)="goNext()">Next</button>
          </li>
        </div>
        <div *ngIf="number != totalPages - 1">
          <li class="page-item">
            <button class="page-link text-success" (click)="goNext()">Next</button>
          </li>
        </div>
      </ul>
    </div>
  </div>


</div>
