<!-- Page Header Start -->
<div class="container-fluid bg-white">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3">DANH SÁCH SẢN PHẨM</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="">Trang chủ</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Danh sách sản phẩm</p>
    </div>
  </div>
</div>
<!-- Page Header End -->
<!-- Shop Start -->
<div class="container pt-3 pb-4 radius-2">
  <!--  <img class="w-100" src="assets/img/bg/sieu-mua.jpg">-->
  <div class="row pl-3 pr-0">

    <!-- Shop Product Start -->
    <div class="col-lg-9 row col-md-12 pt-3">
      <div class="d-flex justify-content-between mb-4">
        <form [formGroup]="searchByNameForm" (ngSubmit)="searchByName()">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><a class="text-dark" [routerLink]="" (click)="resetSearchForm()">Hủy</a></div>
            </div>
            <input type="text" class="form-control border-primary" id="inlineFormInputGroup" placeholder="Tìm tên sản phẩm" formControlName="productName">
            <button type="submit" class="btn btn-outline-primary" style="border: none !important;">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </form>
        <div class="dropdown ml-4">
          <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                  data-bs-toggle="dropdown">
            Sắp xếp theo
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" [routerLink]="" (click)="sortByDate('date_in,DESC')">Ngày phát hành</a>
            <a class="dropdown-item" [routerLink]="" (click)="sortByPriceDESC('price,DESC')">Giá giảm dần</a>
            <a class="dropdown-item" [routerLink]="" (click)="sortByPriceASC('price')">Giá tăng dần</a>
          </div>
        </div>
      </div>
      <div class="row col-lg-12 pb-3 pr-1">
        <div class="col-lg-2 col-md-6 pb-1 pr-1 pl-1" *ngFor="let p of products">
          <div class=" product-item bg-white " >
            <div class="product-img position-relative overflow-hidden">
              <img class="img-fluid w-100" [src]="p.image" alt="">
              <div class="product-action">
                <a class="btn btn-outline-dark btn-square" [routerLink]="" (click)="addToCart(p)" ><i
                  class="fa fa-shopping-cart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                <a class="btn btn-outline-dark btn-square" [routerLink]="['/detail-product', p.id]"><i class="fa fa-search"></i></a>
              </div>
            </div>
            <div class="text-center py-1">
              <a class="h6 text-decoration-none text-truncate" href="">{{p.name}} </a>
              <div class="d-flex align-items-center justify-content-center mt-2">
                <b class="text-danger">{{ p.price - (p.price * p.discount / 100) | currency: 'VND' : ''}}đ</b>
                <b class="text-muted ml-2">
                  <b class="text-success">({{-p.discount}}%)</b>
                </b>
              </div>

              <div class="d-flex align-items-center justify-content-center mb-1">
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small>({{p.quantity}})</small>
              </div>
            </div>
            <div class="col-sm-12 row text-center m-0" *ngIf="role === 'ROLE_ADMIN'">
              <a class="btn btn-outline-dark btn-square col-sm-6  item-text" [routerLink]="['/edit-product' , p.id]" >
                <i class="fa-sharp fa-solid fa-pen text-primary " style="font-size: 22px"></i>Sửa</a>
              <a class="btn btn-outline-dark btn-square col-sm-6 item-text" type="button" data-bs-toggle="modal"
                 [attr.data-bs-target]="'#staticBackdropDelete' + p.id">
                <i class="fa-sharp fa-solid fa-trash text-danger " style="font-size: 22px"></i>Xóa</a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdropDelete{{p.id}}" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelDelete" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title text-danger" id="staticBackdropLabelDelete">Xóa sản phẩm</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Bạn có muốn xóa sản phẩm <span class="text-danger">{{p.name}}</span> của hãng <span>{{p.manufacturer}}</span> không?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" (click)="deleteProduct(p.id)">Xóa
                    </button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Shop Product End -->

    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-12 bg-white">
      <!-- Categories Start -->
      <div class="border-none mb-4 pb-4">
          <h4 class="section-title position-relative text-uppercase mb-2 mt-4" data-bs-toggle="collapse" href="#navbar-vertical" ><span
            class="text-danger pr-2">Chọn Danh Mục</span><i class="fa fa-angle-down text-danger"></i>
          </h4>
        <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border-none" id="navbar-vertical">
          <div class="navbar-nav w-100 overflow-hidden" style="height: auto">
            <a [routerLink]="" (click)="loadProductByCategory(category.id + '')"
               class="nav-item nav-link" data-toggle="reset-active-category" [id]="'category' + category.id" *ngFor="let category of categories">
              {{category.name}} [{{category.totalProduct}}]
            </a>
            <button class="btn btn-outline-primary" (click)="loadProductByCategory('')">
              Tất cả sản phẩm
              <small class="border-primary text-dark">[{{totalProducts}}]</small>
            </button>
          </div>
        </nav>
      </div>
      <!-- Image End -->
      <!-- Price Start -->
      <div>
        <h4 class="section-title position-relative text-uppercase mb-2 mt-4"><span
          class="text-danger pr-2">Chọn Mức Giá:</span>
        </h4>
        <div class=" p-3 row col-12 radius-2">
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" checked id="price-all" (input)="filterPrice('0', '400000000000')">
            <label class="custom-control-label" for="price-all">Tất cả giá bán</label>
            <span class="badge border text-dark font-weight-normal">{{totalProductsFilter}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-1" (input)="filterPrice('0','1000000')">
            <label class="custom-control-label" for="price-1">0<sup>đ</sup> - 1.000.000<sup>đ</sup></label>
            <span class="badge border text-dark font-weight-normal">{{this.totalOneMi}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-2" (input)="filterPrice('1000001','3000000')">
            <label class="custom-control-label" for="price-2">1.000.000<sup>đ</sup> - 3.000.000<sup>đ</sup></label>
            <span class="badge border text-dark font-weight-normal">{{totalThreeMi}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-3" (input)="filterPrice('3000001','5000000')">
            <label class="custom-control-label" for="price-3">3.000.000<sup>đ</sup> - 5.000.000<sup>đ</sup></label>
            <span class="badge border text-dark font-weight-normal">{{totalFiveMi}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-4" (input)="filterPrice('5000001','10000000')">
            <label class="custom-control-label" for="price-4">5.000.000<sup>đ</sup> - 10.000.000<sup>đ</sup></label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-5" (input)="filterPrice('10000001','400000000000')">
            <label class="custom-control-label" for="price-5">10.000.000<sup>đ</sup> trở lên</label>
            <span class="badge border text-dark font-weight-normal">{{totalLetThanTenMi}}</span>
          </div>

        </div>
      </div>
      <!-- Price End -->
      <hr>

      <!-- Color Start -->
      <div>
        <h4 class="section-title position-relative text-uppercase mb-2 mt-4"><span
          class="text-danger pr-2">Chọn Nơi Xuất Xứ:</span>
        </h4>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="radio" name="origin" class="custom-control-input" checked id="color-all" (input)="filterOrigin('')">
          <label class="custom-control-label" for="color-all">Tất cả hãng</label>
          <span class="badge border font-weight-normal">{{totalProductsFilter}}</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3" *ngFor="let origin of originDtos; index as i">
          <input type="radio" name="origin" class="custom-control-input" id="color-{{origin.name}}" (input)="filterOrigin(origin.name)">
          <label class="custom-control-label" for="color-{{origin.name}}">{{origin.name}}</label>
          <span class="badge border font-weight-normal">{{origin.quantity}}</span>
        </div>
        <!-- Color End -->
      </div>
      <hr>
      <!-- Size Start -->
      <div>
        <h4 class="section-title position-relative text-uppercase mb-2 mt-4"><span class="text-danger pr-2">Chọn Theo Size:</span>
        </h4>
        <div class=" row col-12  p-3 radius-2">
          <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" checked id="size-all">
            <label class="custom-control-label text-danger" for="size-all">Tất cả size</label>
          </div>
          <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-1">
            <label class="custom-control-label text-dark" for="size-1">XS</label>
          </div>
          <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-2">
            <label class="custom-control-label text-dark" for="size-2">S</label>
          </div>
          <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-3">
            <label class="custom-control-label text-dark" for="size-3">M</label>
          </div>
          <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-4">
            <label class="custom-control-label text-dark" for="size-4">L</label>
          </div>
          <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-5">
            <label class="custom-control-label text-dark" for="size-5">XL</label>
          </div>
        </div>
      </div>

      <!-- Size End -->
    </div>
    <!-- Shop Sidebar End -->
  </div>
</div>
<!-- Shop End -->
