<!-- Page Header Start -->
<div class="container-fluid bg-white">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3">DANH SÁCH SẢN PHẨM</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="">Trang chủ</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Danh sách sản phẩm</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Shop Start -->
<div class="container pt-1 pb-4">
  <!--  <img class="w-100" src="assets/img/bg/sieu-mua.jpg">-->
  <div class="row pl-3 pr-0">

    <!-- Shop Product Start -->
    <div class="col-lg-9 row col-md-12 pt-1">
      <!-- Shop Product Start -->
      <div class="row col-lg-12 pb-2 pr-1">
        <div class="col-lg-12 pb-1 ">
          <div class="col-lg-12  d-flex align-items-center justify-content-between mb-3 mt-1">
            <div>
              <div class="btn-group">
                <button type="button" class="btn btn-light dropdown-toggle"
                        data-bs-toggle="dropdown"><b>{{sortTitle}}</b>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" [routerLink]="" (click)="sortByDate()"><b>Ngày phát hành</b></a>
                  <a class="dropdown-item" [routerLink]="" (click)="sortByPriceDESC()"><b>Giá giảm dần</b></a>
                  <a class="dropdown-item" [routerLink]="" (click)="sortByPriceASC()"><b>Giá tăng dần</b></a>
                </div>
              </div>

            </div>
            <form class="col-lg-9 row pr-1" [formGroup]="searchForm" (ngSubmit)="getSearch()">
              <input type="text" class="form-control col-5" placeholder="Tên sản phẩm tìm kiếm"
                     formControlName="searchName" name="searchName">
              <input type="text" class="form-control col-5" placeholder="Nơi xuất xứ sản phẩm"
                     formControlName="searchOrigin" name="searchOrigin">
              <button class="btn btn-sm btn-light col-2"><i class="fa fa-search"></i><b>Tìm kiếm</b></button>
            </form>

          </div>
        </div>

        <div class="col-lg-2 col-md-6 pb-1 pr-1 pl-1" *ngFor="let p of product">
          <div class=" product-item bg-light mb-3">
            <div class="product-img position-relative overflow-hidden">
              <img class="img-fluid w-100" [src]="p.image" alt="">
              <div class="product-action">
                <a *ngIf="role == 'ROLE_USER' && infoStatus == false" class="btn btn-outline-dark btn-square"
                   [routerLink]="" (click)="addToCart(p)"><i
                  class="fa fa-shopping-cart"></i></a>
                <a *ngIf="role == 'ROLE_USER'  && infoStatus == true " class="btn btn-outline-dark btn-square"
                   [routerLink]="" (click)="updateInfoMessage()"><i
                  class="fa fa-shopping-cart"></i></a>
                <a *ngIf="role == 'ROLE_ADMIN'" class="btn btn-outline-dark btn-square" [routerLink]=""
                   (click)="addToCartMessage()"><i
                  class="fa fa-shopping-cart"></i></a>
                <a *ngIf="role == ''" class="btn btn-outline-dark btn-square" [routerLink]=""
                   (click)="addToCartMessage2()"><i
                  class="fa fa-shopping-cart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                <a class="btn btn-outline-dark btn-square" [routerLink]="['/detail-product',p.id]"><i
                  class="fa fa-search"></i></a>
              </div>
            </div>
            <div class="text-center py-1">
              <a class="h6 text-decoration-none text-truncate" href="">{{p.name}} </a>
              <div class="d-flex align-items-center justify-content-center mt-2">
                <b class="text-danger">{{ p.price - (p.price * p.discount / 100) | currency: 'VND' : ''}}đ</b>
                <b class="text-muted ml-2">
                  <b class="text-success">(-{{p.discount}}%)</b>
                </b>
              </div>
              <div class="d-flex align-items-center justify-content-center mb-1">
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small>({{p.quantity}})</small>
              </div>

            </div>
            <div class="col-sm-12 row text-center m-0" *ngIf="role === 'ROLE_ADMIN'">
              <button  *ngIf="role === 'ROLE_ADMIN'" class="btn btn-outline-dark btn-square col-sm-6  item-text"
                      [routerLink]="['/edit-product',p.id]">
                <i class="fa-sharp fa-solid fa-pen text-primary " style="font-size: 22px"></i>Sửa
              </button>
              <!-- Button trigger modal -->
              <button  *ngIf="role === 'ROLE_ADMIN'" type="button" class="btn btn-outline-dark btn-square col-sm-6  item-text" data-bs-toggle="modal"
                      [attr.data-bs-target]="'#exampleModal'+p.id">
                <i class="fa-sharp fa-solid fa-trash text-danger " style="font-size: 22px"></i> Xóa
              </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{p.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="false">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-danger" id="exampleModalLabel">Xóa Sản Phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <span>bạn có muốn xóa sản phẩm </span>{{p.name}} <span>của hãng </span>{{p.manufacturer}} không?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteProduct(p)">
                      Chấp Nhận
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 pb-1 text-center font-weight-bold text-white"
             style="font-size: 30px !important;" *ngIf="product.length <= 0">
          Không có dữ liệu !!!.
        </div>

        <div class="col-lg-12" *ngIf="product.length > 0">
          <nav>
            <ul class="pagination justify-content-center">
              <div *ngIf="number == 0" >
                <li class="page-item disabled">
                  <button class="page-link" (click)="goPrevious()" hidden>Quay Lại</button>
                </li>
              </div>
              <div *ngIf="number != 0">
                <li class="page-item">
                  <button class="page-link" (click)="goPrevious()">Quay Lại</button>
                </li>
              </div>
              <div *ngFor="let count of countTotalPages; index as i" >
                <div *ngIf="i == number">
                  <li class="page-item active">
                    <button class="page-link" (click)="goItem(i)">{{i + 1}}</button>
                  </li>
                </div>
                <div *ngIf="i != number">
                  <li class="page-item">
                    <button class="page-link" (click)="goItem(i)">{{i + 1}}</button>
                  </li>
                </div>
              </div>
              <div *ngIf="number == totalPages - 1">
                <li class="page-item disabled">
                  <button class="page-link" (click)="goNext()" hidden>Tiếp</button>
                </li>
              </div>
              <div *ngIf="number != totalPages - 1">
                <li class="page-item">
                  <button class="page-link" (click)="goNext()">Tiếp</button>
                </li>
              </div>
            </ul>
          </nav>
        </div>

      </div>
      <!-- Shop Product End -->
    </div>
    <!-- Shop Product End -->

    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-12 bg-white">
      <div class="border-none mb-1 pb-2">
        <h4 class="section-title position-relative text-uppercase mb-2 mt-3" data-bs-toggle="collapse" href="#navbar-vertical" ><span
          class="text-danger pr-2">Chọn Danh Mục</span><i class="fa fa-angle-down text-danger"></i>
        </h4>
        <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border-none custom-control custom-checkbox d-flex align-items-center justify-content-between " id="navbar-vertical">
          <div class="navbar-nav w-100 overflow-hidden" style="height: auto">
            <a [routerLink]="" (click)="loadProductByCategory(category.id + '')"
               class="nav-item nav-link text-dark" data-bs-toggle="reset-active-category" [id]="'category' + category.id" *ngFor="let category of category">
              <label class="custom-control-label" for="price-all">- {{category.name}}</label>
              <span  class="badge border text-dark font-weight-normal"> {{category.totalProduct}}</span>
            </a>
            <button class="btn btn-outline-primary" (click)="loadProductByCategory('')">
              Tất cả sản phẩm
              <small class="border-primary text-dark">[{{totalProducts}}]</small>
            </button>
          </div>
        </nav>
      </div>
      <hr>
      <!-- Price Start -->
      <div>
        <h4 class="section-title position-relative text-uppercase mb-2 mt-3"><span
          class="text-danger pr-2">Chọn Mức Giá:</span>
        </h4>
        <div class=" p-3 row col-12 radius-2">
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" checked id="price-all" (input)="filterPrice('0', '400000000000')">
            <label class="custom-control-label" for="price-all">Tất cả giá bán</label>
            <span class="badge border text-dark font-weight-normal">{{totalProductsFilter}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-1" (input)="filterPrice('0','1000000')">
            <label class="custom-control-label" for="price-1">0<sup>đ</sup> - 1.000.000<sup>đ</sup></label>
            <span class="badge border text-dark font-weight-normal">{{this.totalOneMi}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-2" (input)="filterPrice('1000001','3000000')">
            <label class="custom-control-label" for="price-2">1.000.000<sup>đ</sup> - 3.000.000<sup>đ</sup></label>
            <span class="badge border text-dark font-weight-normal">{{totalThreeMi}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-3" (input)="filterPrice('3000001','5000000')">
            <label class="custom-control-label" for="price-3">3.000.000<sup>đ</sup> - 5.000.000<sup>đ</sup></label>
            <span class="badge border text-dark font-weight-normal">{{totalFiveMi}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-4" (input)="filterPrice('5000001','10000000')">
            <label class="custom-control-label" for="price-4">5.000.000<sup>đ</sup> - 10.000.000<sup>đ</sup></label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-5" (input)="filterPrice('10000001','400000000000')">
            <label class="custom-control-label" for="price-5">10.000.000<sup>đ</sup> trở lên</label>
            <span class="badge border text-dark font-weight-normal">{{totalLetThanTenMi}}</span>
          </div>

        </div>
      </div>
      <!-- Price End -->
      <hr>
      <!-- Color Start -->
      <div>
        <h4 class="section-title position-relative text-uppercase mb-2 mt-3"><span
          class="text-danger pr-2">Chọn Hãng Sản Xuất:</span>
        </h4>
        <div class=" p-3 row col-12 radius-2">
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" checked  (input)="filterOrigin('')">
            <label  class="custom-control-label text-dark" for="color-all">Tất cả hãng</label>
            <span class="badge border text-dark font-weight-normal">{{totalProductsFilter}}</span>
          </div>
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3" *ngFor="let origin of originDtos; index as i">
            <input type="checkbox" class="custom-control-input" id="color-{{origin.name}}" (input)="filterOrigin(origin.name)">
            <label  class="custom-control-label text-dark" for="color-{{origin.name}}">{{origin.name}}</label>
            <span class="badge border text-dark font-weight-normal">{{origin.quantity}}</span>
          </div>
        </div>
      </div>
      <!-- Color End -->
      <hr>
      <!-- Color Start -->
      <div>
        <h4 class="section-title position-relative text-uppercase mb-2 mt-3"><span
          class="text-danger pr-2">Chọn Màu Sắc:</span>
        </h4>
        <div class=" p-3 row col-12 radius-2">
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" checked id="color-all">
            <label class="custom-control-label text-dark" for="price-all">Tất cả</label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>

          </div>
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="color-1">
            <label class="custom-control-label text-dark" for="color-1">Màu đen</label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>

          </div>
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="color-2">
            <label class="custom-control-label text-dark" for="color-2">Màu trắng</label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>

          </div>
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="color-3">
            <label class="custom-control-label text-dark" for="color-3">Màu đỏ</label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>

          </div>
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="color-4">
            <label class="custom-control-label text-dark" for="color-4">Màu xanh lục</label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>

          </div>
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between  mb-3">
            <input type="checkbox" class="custom-control-input" id="color-5">
            <label class="custom-control-label text-dark" for="color-5">Màu xanh lá</label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>

          </div>
        </div>
        <!-- Color End -->
      </div>
      <hr>
      <!-- Size Start -->
      <div>
        <h4 class="section-title position-relative text-uppercase mb-2 mt-3"><span class="text-danger pr-2">Chọn Theo Size:</span>
        </h4>
        <div class=" row col-12  p-3 radius-2">
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" checked id="size-all">
            <label class="custom-control-label text-danger" for="size-all">Tất cả size</label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>

          </div>
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-1">
            <label class="custom-control-label text-dark" for="size-1">XS</label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>

          </div>
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-2">
            <label class="custom-control-label text-dark" for="size-2">S</label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>

          </div>
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-3">
            <label class="custom-control-label text-dark" for="size-3">M</label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>

          </div>
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-4">
            <label class="custom-control-label text-dark" for="size-4">L</label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>

          </div>
          <div class="col-12 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-5">
            <label class="custom-control-label text-dark" for="size-5">XL</label>
            <span class="badge border text-dark font-weight-normal">{{totalTenMi}}</span>

          </div>
        </div>
      </div>

      <!-- Size End -->
    </div>
    <!-- Shop Sidebar End -->
  </div>
</div>
<!-- Shop End -->

