
<div style="padding: 50px 0px 100px">
  <div class="container" style="background-color: red; padding: 50px 0px; border-radius: 20px">
    <div class="row col-12" style="display: flex;justify-content: center" >
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEK9_QWExDwpJ1REb_9mkCLWW7WlxITm4qQUYJhpooJAWhggE4efMgEfWSwHNvPUS6D3I&usqp=CAU" class="img-test col-6" style="padding-right: 10px" >
      <img src="https://http2.mlstatic.com/D_NQ_NP_690239-MCO50503003416_062022-V.jpg" class="img-test col-6"  style="padding-right: 10px">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJLyb4xTE5ZUn_8h8jQcbzkPYrMi4YRZX36BiCP-EvnFEaPZJZSYqr_YEMFz5Jn3eMVWY&usqp=CAU" class="img-test col-6"  style="padding-right: 10px">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsylbqvy23Markb0YicobGU30e2RiMMERmdBF5ClzYyIvN76CvbGDAYrZR82o2DIN9dC4&usqp=CAU" class="img-test col-6" style="padding-right: 10px" >
    </div>

    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
      <h1 class=" mb-5 mt-2 fw-normal text-center text-white">Quên mật khẩu</h1>
      <input type="hidden" formControlName="token">
      <div formGroupName="pass">
        <div class="form-floating mb-3 w-50 text-center m-auto">
          <input type="password" class="form-control" id="floatingInput" placeholder="Password"
                 formControlName="password">
          <label for="floatingInput">Mật khẩu mới <span class="text-danger">(*)</span> :
            <span class="text-white fs-10"
                  *ngIf="changePasswordForm.controls.pass.get('password').hasError('required') && changePasswordForm.controls.pass.get('password').touched">
                    Vui lòng nhập mật khẩu.
                  </span>
          </label>
          <div class="text-white fs-10"
               *ngIf="changePasswordForm.controls.pass.get('password').hasError('pattern') && changePasswordForm.controls.pass.get('password').touched">
            Tối thiểu 8 ký tự, ít nhất một chữ cái, một số và một ký tự đặc biệt.
          </div>
        </div>

        <div class="form-floating my-3 w-50 text-center m-auto">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm password"
                 formControlName="confirmPassword">
          <label for="floatingPassword">Xác nhận <span class="text-danger">(*)</span> :
            <span class="text-danger fs-10"
                  *ngIf="changePasswordForm.controls.pass.get('confirmPassword').hasError('required') && changePasswordForm.controls.pass.get('confirmPassword').touched">
                    Vui lòng nhập mật khẩu.
                  </span>
          </label>
          <div class="text-danger fs-10"
               *ngIf="changePasswordForm.controls.pass.get('confirmPassword').hasError('pattern') && changePasswordForm.controls.pass.get('password').touched">
            Tối thiểu 8 ký tự, ít nhất một chữ cái, một số và một ký tự đặc biệt.
          </div>
        </div>
      </div>
      <div class="text-white text-center"
           *ngIf="changePasswordForm.controls.pass.hasError('confirm') && changePasswordForm.controls.pass.get('confirmPassword').touched && changePasswordForm.controls.pass.get('password').touched">
        Mật khẩu và xác nhận mật khẩu phải giống nhau.
      </div>
      <div class="col-12 my-3 w-50 row text-center m-auto">
        <div class="col-6 mb-3">
          <button class="btn btn-lg w-100 fs-6 btn-yellow" type="submit">Xác nhận</button>
        </div>
        <!-- Button trigger modal -->
        <div class="col-6 mb-3">
          <button type="button" class="btn btn-lg w-100 fs-6 btn-secondary" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop">
            Quay lại
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
