<!DOCTYPE html>
<html>
<head id="head">

</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">

</header><!-- End Header -->


<section class="get-in-touch">
    <h1 class="title">Create Contract</h1>
    <form class="contact-form row" action="/contract/create" method="post" >

        <div class="form-field col-lg-6 ">
            <input id="dateCheckIn" class="input-text js-input" type="date" name="dateCheckIn" required>
            <label class="label" for="dateCheckIn">Date Check In</label>
        </div>

        <div class="form-field col-lg-6 ">
            <input id="dateCheckOut" class="input-text js-input" type="date" name="dateCheckOut" required>
            <label class="label" for="dateCheckOut">Date Check Out</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="deposit" class="input-text js-input" type="text" name="deposit" required>
            <label class="label" for="deposit">deposit</label>
        </div>
        <div class="form-field col-lg-6">

            <select class="form-select" name="employee">
                <option value="">Employee List</option>
                <option>Lê Thị Phương</option>
                <option>Lê Thị Luận</option>
                <option>Lê Thị Bình</option>
                <option>Hoàng thị Hậu</option>
            </select>
        </div>
        <div class="form-field col-lg-6">

            <select class="form-select" name="customer">
                <option value="">Customer List</option>
                <option>Lê Thị Phương</option>
                <option>Lê Thị Luận</option>
                <option>Lê Thị Bình</option>
                <option>Hoàng thị Hậu</option>
            </select>
        </div>
        <div class="form-field col-lg-6">

            <select class="form-select" name="facility">
                <option value="">Service List</option>
                <option>Lê Thị Phương</option>
                <option>Lê Thị Luận</option>
                <option>Lê Thị Bình</option>
                <option>Hoàng thị Hậu</option>
            </select>
        </div>

        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Submit">
        </div>
        <a href="/contract" class="btn btn-outline-secondary">Back home</a>
    </form>
</section>



<div id="footer-div">

</div>
</body>
<script src="../../static/assets/vendor/bootstrap/jquery/jquery.min.js"></script>
<script>
    $(function () {
        $('#head').load('/templates/heads.html')
        $('#header').load('/templates/header.html')
        $('#footer-div').load('/templates/footer.html')
    });
</script>


</html>
