<!DOCTYPE html>
<html>
<head id="head">

</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">

</header><!-- End Header -->

<!-- ======= Our Clients Section ======= -->
<section class="container">
    <div class="p-3 text-center bg-image"
         style="height: 150px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h1 class="mb-3 management">Contract Management</h1>
                    <a href="" class="btn btn-outline-success btn-lg buttons"
                       role="button">Create
                        Contract</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
            <form class="d-flex">
                <input class="form-control me-2 buttons1" type="date" name="searchDateIn"
                       aria-label="Search">
                <input class="form-control me-2 buttons1" type="date" name="searchDateOut"
                        aria-label="Search">
                <button class="btn btn-outline-success buttons1" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>STT</th>
                <th>Customer</th>
                <th>Service</th>
                <th>Date Check In</th>
                <th>Date Out</th>
                <th>Deposit</th>
                <th>Total Money</th>
                <th colspan="2" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>contract</td>
                <td>contract</td>
                <td>contract</td>
                <td>contract</td>
                <td>contract</td>
                <td>contract</td>
                <td>contract</td>

<!--                <td th:text="${#numbers.formatDecimal(fa.totalMoney, 0, 'DEFAULT', 0, 'DEFAULT')}"></td>-->
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                        +
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content get-in-touch">
                                <div class="modal-header">
                                    <h6 class="modal-title titleModal" id="staticBackdropLabelCreate">Create Details
                                        Contract</h6>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <form class="contact-form row" action="contract/createDetailsContract"
                                              method="post">

                                            <div class="form-field col-lg-6">
                                                <select class="form-select" name="facilityAttach">
                                                    <option value="">Attach Service list</option>
                                                    <option value="">Massage</option>
                                                    <option value="">Xông Hơi</option>
                                                    <option value="">buffe</option>

                                                </select>
                                            </div>

                                            <div class="form-field col-lg-6">
                                                <input name="quantity" class="input-text js-input" type="text" required>
                                                <label class="label" >Quantity</label>
                                            </div>

                                            <div class="form-field col-lg-12" type="hidden">
                                                <select name="contract"  class="input-text js-input" type="hidden">
                                                    <option value="1"></option>
                                                </select>
                                            </div>
                                            <div class="row">
                                                <div class="col-4"></div>
                                                <div class="col-4 text-center">
                                                    <input type="submit" class="btn btn-outline-success col-lg-12" value="Save">
                                                </div>
                                                <div class="col-4 text-center">
                                                    <button type="button" class="btn btn-outline-secondary col-lg-12 "
                                                            data-bs-dismiss="modal">clone
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <!-- danh sách các dịch vụ đi kèm-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#attachFacility">
                        Facility Attach List
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="attachFacility" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content get-in-touch">
                                <div class="modal-header">
                                    <h5 class="modal-title titleModal" id="staticBackdropLabel2">List Service
                                        Attach</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="color: black">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Name Attach Service</th>
                                            <th scope="col">quantity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Massage</td>
                                            <td>10k</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Xông hơi</td>
                                            <td>20k</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary"
                                            data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>contract</td>
                <td>contract</td>
                <td>contract</td>
                <td>contract</td>
                <td>contract</td>
                <td>contract</td>
                <td>contract</td>

                <!--                <td th:text="${#numbers.formatDecimal(fa.totalMoney, 0, 'DEFAULT', 0, 'DEFAULT')}"></td>-->
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop1">
                        +
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content get-in-touch">
                                <div class="modal-header">
                                    <h6 class="modal-title titleModal" id="staticBackdropLabelCreate">Create Details
                                        Contract</h6>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <form class="contact-form row" action="contract/createDetailsContract"
                                              method="post">

                                            <div class="form-field col-lg-6">
                                                <select class="form-select" name="facilityAttach">
                                                    <option value="">Attach Service list</option>
                                                    <option value="">Massage</option>
                                                    <option value="">Xông Hơi</option>
                                                    <option value="">buffe</option>

                                                </select>
                                            </div>

                                            <div class="form-field col-lg-6">
                                                <input name="quantity" class="input-text js-input" type="text" required>
                                                <label class="label" >Quantity</label>
                                            </div>

                                            <div class="form-field col-lg-12" type="hidden">
                                                <select name="contract"  class="input-text js-input" type="hidden">
                                                    <option value="1"></option>
                                                </select>
                                            </div>
                                            <div class="row">
                                                <div class="col-4"></div>
                                                <div class="col-4 text-center">
                                                    <input type="submit" class="btn btn-outline-success col-lg-12" value="Save">
                                                </div>
                                                <div class="col-4 text-center">
                                                    <button type="button" class="btn btn-outline-secondary col-lg-12 "
                                                            data-bs-dismiss="modal">clone
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <!-- danh sách các dịch vụ đi kèm-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#attachFacility">
                        Facility Attach List
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="attachFacility" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content get-in-touch">
                                <div class="modal-header">
                                    <h5 class="modal-title titleModal" id="staticBackdropLabel2">List Service
                                        Attach</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="color: black">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Name Attach Service</th>
                                            <th scope="col">quantity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Massage</td>
                                            <td>10k</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Xông hơi</td>
                                            <td>20k</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary"
                                            data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="clearfix col-9"></div>
            <div class="container-fluid mt-3 col-3">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio Section -->


<!-- ======= Footer ======= -->

<div id="footer-div">

</div>

</body>

<script src="../../static/assets/vendor/bootstrap/jquery/jquery.min.js"></script>

<script>
    $(function () {
        $('#head').load('/templates/heads.html')
        $('#header').load('/templates/header.html')
        $('#footer-div').load('/templates/footer.html')
    });
</script>

</html>
