.management {
    padding: 50px;
}

.complain {
    color: red;
}

#fate {
    background-image: url("../assets/img/bg.jpg");
    position: relative;
    height: 870px;
    padding: 70px;
}
.s{
    background-color: white;
}
label {
    color: black;
}

@media only screen and (max-width: 1000px) {
    .form {
        display: none;
    }
}
