<body>
  <div id="hero" style="height: 300px !important;">
      <div class="carousel-inner get-in-touch" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/assets/img/service-img/portfolio-1.jpg); size: auto">
          <div class="carousel-container">
            <div class="text-center">
              <h1 class="title">Service Management</h1>
              <div><a [routerLink]="['/facility-create']"  class="btn-get-started">Create Service</a></div>
            </div>
          </div>
        </div>
      </div>
  </div><!-- End Hero -->
  <!------ Include the above in your HEAD tag ---------->
  <div class="box" >
    <div class="container">

      <div class="row">

        <div class="col-md-4 s" *ngFor="let f of facility">
          <figure class="text-center">
            <img src="{{f.img}}" alt="img1">
            <figcaption>
              <h5>{{f.name}}</h5>
              <i>{{f.standardRoom}}</i>

              <div style="margin-left: 70%">
                <a class="btn btn-success" [routerLink]="['/facility-edit']"><i class="fa-solid fa-pen"></i></a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                  <i class="fa-solid fa-trash-can"></i></button>
              </div>
            </figcaption>
          </figure>
        </div>

      </div>
    </div>
  </div>
</body>
