

<section id="portfolio" class="portfolio">

  <section id="hero" style="height: 200px !important;">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/assets/img/clients/client-3.png); size: auto">
          <div class="carousel-container">
            <div class="text-center">
              <h1 class="text-danger">Service Management</h1>
              <div><a href="" class="btn-get-started">Create Service</a></div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <div class="container" style="padding-top: 10px">
    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-service">Service</li>
          <li data-filter=".filter-event">Event</li>
          <li data-filter=".filter-sports">Sports</li>
          <li data-filter=".filter-room">Room Service</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up">

      <div class="col-lg-4 col-md-6 portfolio-item filter-event">
        <img src="/assets/img/service-img/portfolio-1.jpg" class="img-fluids" alt="">
        <div class="portfolio-info">
          <h4>Event & Conference</h4>
          <a href="/assets/img/service-img/portfolio-1.jpg" data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link" title="Event & Conference"><i class="bx bx-plus"></i></a>

          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-trash"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-service">
        <img src="/assets/img/service-img/portfolio-2.jpg" class="img-fluids" alt="">
        <div class="portfolio-info">
          <h4>Massage</h4>
          <a href="/assets/img/service-img/portfolio-2.jpg" data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link" title="Massage"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i
            class="bi bi-trash"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-sports">
        <img src="/assets/img/service-img/portfolio-3.jpg" class="img-fluids" alt="">
        <div class="portfolio-info">
          <h4>Sports</h4>
          <a href="/assets/img/service-img/portfolio-3.jpg" data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link" title="Sports"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i
            class="bi bi-trash"></i></a>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-service filter-event ">
        <img src="/assets/img/service-img/portfolio-5.jpg" class="img-fluids" alt="">
        <div class="portfolio-info">
          <h4> WEDDING !!!</h4>
          <a href="/assets/img/service-img/portfolio-5.jpg" data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link" title="WEDDING !!!"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i
            class="bi bi-trash"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-service filter-room">
        <img src="/assets/img/service-img/portfolio-6.jpg" class="img-fluids" alt="">
        <div class="portfolio-info">
          <h4>Fresh Juices</h4>
          <a href="/assets/img/service-img/portfolio-6.jpg" data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link" title="Fresh Juices"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i
            class="bi bi-trash"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-service">
        <img src="/assets/img/service-img/portfolio-4.jpg" class="img-fluids" alt="">
        <div class="portfolio-info">
          <h4>Buffet </h4>
          <a href="/assets/img/service-img/portfolio-4.jpg" data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link" title="Buffet"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i
            class="bi bi-trash"></i></a>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-room">
        <img src="/assets/img/service-img/portfolio-7.jpg" class="img-fluids" alt="">
        <div class="portfolio-info">
          <h4>Room service</h4>
          <a href="/assets/img/service-img/portfolio-7.jpg" data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link" title="Room service"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i
            class="bi bi-trash"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-sports">
        <img src="/assets/img/service-img/p.jpg" class="img-fluids" alt="">
        <div class="portfolio-info">
          <h4>Sunbathing</h4>
          <a href="/assets/img/service-img/p.jpg" data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link" title="Sunbathing"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i
            class="bi bi-trash"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-service filter-room">
        <img src="/assets/img/service-img/portfolio-8.jpg" class="img-fluids" alt="">
        <div class="portfolio-info">
          <h4>Tea and Drinks</h4>
          <a href="/assets/img/service-img/portfolio-8.jpg" data-gallery="portfolioGallery"
             class="portfolio-lightbox preview-link" title="Tea and Drinks"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i
            class="bi bi-trash"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="clearfix col-9"></div>
      <div class="container-fluid mt-3 col-3">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item "><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

