<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{style :: bootstrapHeader}">
</head>
<body>
<header th:replace="~{style :: bootstrapHeaderBody}"></header>


<section class="get-in-touch">
    <h1 class="title">Create Contract</h1>
    <form class="contact-form row" action="/contract/create" method="post" th:object="${contractList}">

        <div class="form-field col-lg-6 ">
            <input id="dateCheckIn" class="input-text js-input" type="date" th:field="*{dateCheckIn}" required>
            <label class="label" for="dateCheckIn">Date Check In</label>
        </div>

        <div class="form-field col-lg-6 ">
            <input id="dateCheckOut" class="input-text js-input" type="date" th:field="*{dateCheckOut}" required>
            <label class="label" for="dateCheckOut">Date Check Out</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="deposit" class="input-text js-input" type="text" th:field="*{deposit}" required>
            <label class="label" for="deposit">deposit</label>
        </div>
         <div class="form-field col-lg-6">

            <select class="form-select" th:field="*{employee}">
                <option value="">Employee List</option>
                <option th:each="item, loop : ${employeeList}" th:text="${item.name}" th:value="${item.id}"></option>
            </select>
         </div>
        <div class="form-field col-lg-6">
            <select class="form-select" th:field="*{customer}">
                <option value="">Customer List</option>
                <option th:each="item, loop : ${customerList}" th:text="${item.name}" th:value="${item.id}"></option>
            </select>
        </div>
        <div class="form-field col-lg-6">
            <select class="form-select" th:field="*{facility}">
                <option value="">Service List</option>
                <option th:each="item, loop : ${facilityList}" th:text="${item.name}" th:value="${item.id}"></option>
            </select>
        </div>

        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Submit">
        </div>
        <a href="/contract" class="btn btn-outline-secondary">Back home</a>
    </form>
</section>

<footer id="footer" th:replace="~{style :: bootstrapBodyDiv}"></footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:replace="~{style :: bootstrapFooter}"></th:block>
</body>
</html>