<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{style :: bootstrapHeader}">
</head>
<body>
<header th:replace="~{style :: bootstrapHeaderBody}"></header>


<section class="container">
    <div class="p-3 text-center bg-image"
         style="height: 150px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h2 class="mb-3 management">Customer Using Service</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <form class="d-flex">
                <input class="form-control me-2 buttons" type="search" name="search"
                       th:value="${searchName}" aria-label="Search">
                <button class="btn btn-outline-success buttons" type="submit" name="name">Search</button>
            </form>
        </div>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>STT</th>
                <th>Customer Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Service Name</th>
                <th>Attach Service</th>
                <th>Edit Service</th>
                <th>Delete Service</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fa, loop : ${customerUsingServiceList}">
                <td th:text="${loop.count}"></td>
                <td th:text="${fa.customer.name}"></td>
                <td th:text="${fa.customer.phone}"></td>
                <td th:text="${fa.customer.address}"></td>
                <td th:text="${fa.facility.name}" th:value="${fa.facility.id}"></td>
                <td>
                    <!-- danh sách các dịch vụ đi kèm-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            th:data-bs-target="'#attachFacility'  + ${fa.id}">
                        Facility Attach List
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="attachFacility + ${fa.id}" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content get-in-touch">
                                <div class="modal-header">
                                    <h5 class="modal-title titleModal" id="staticBackdropLabel2">List Service
                                        Attach</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="color: black">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Name Attach Service</th>
                                            <th scope="col">quantity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="details,loop : ${fa.detailsContractList}">
                                                <td th:text="${loop.count}"></td>
                                                <td th:text="${details.facilityAttach.name}" th:value="${details.facilityAttach.id}"></td>
                                                <td th:text="${details.quantity}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary"
                                            data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <a th:href="@{/facility/edit/{id}(id=${fa.facility.id})}" class="btn btn-outline-warning"> Edit</a>
                </td>

                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#staticBackdrop' + ${fa.facility.id}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="staticBackdrop + ${fa.facility.id}" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="staticBackdropLabel">Warning!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Do you want delete Facility <span th:text="${fa.facility.name}" class="text-warning"></span>
                                    with id = <span th:text="${fa.facility.id}" class="text-warning"></span> ?
                                </div>
                                <div class="modal-footer">
                                    <a href="" th:href="@{/facility/delete/{id}(id=${fa.facility.id})}"
                                       class="btn btn-outline-success">Delete</a>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-9"> </div>
            <div class="col-3">
                <ul class="pagination" th:if="${customerUsingServiceList.totalPages > 0}">
                    <li class="page-item">
                        <a class="page-link" th:if="${customerUsingServiceList.hasPrevious()}"
                           th:href="@{'/contract/customer-using-service'(page=${customerUsingServiceList.number - 1}, search =${searchName})}">
                            Previous
                        </a>
                    </li>
                    <div th:each="item, loop : ${#numbers.sequence(1, customerUsingServiceList.totalPages )}">
                        <div th:if="${(customerUsingServiceList.number + 1) == item}">
                            <li class="page-item active">
                                <a class="page-link" href="#" th:text="${item}" th:href="@{/contract/customer-using-service(page=(${item}-1), search =${searchName})}"></a>
                            </li>
                        </div>
                        <div th:unless="${((customerUsingServiceList.number + 1) == item)}">
                            <li class="page-item">
                                <a class="page-link" href="#" th:text="${item}" th:href="@{/contract/customer-using-service(page=(${item}-1), search =${searchName})}"></a>
                            </li>
                        </div>
                    </div>
                    <li class="page-item">
                        <a class="page-link" th:if="${customerUsingServiceList.hasNext()}"
                           th:href="@{'/contract/customer-using-service'(page=${customerUsingServiceList.number + 1}, search =${searchName})}">
                            Next
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<footer id="footer" th:replace="~{style :: bootstrapBodyDiv}"></footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:replace="~{/style :: bootstrapFooter}"></th:block>
</body>
</html>