<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{style :: bootstrapHeader}">
</head>
<body>
<header th:replace="~{style :: bootstrapHeaderBody}"></header>


<section class="container">
    <div class="p-3 text-center bg-image"
         style="height: 150px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h1 class="mb-3 management">Contract Management</h1>
                    <a href="" th:href="@{/contract/create}" class="btn btn-outline-success btn-lg buttons"
                       role="button">Create
                        Contract</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <form class="d-flex">
                <input class="form-control me-2 buttons" type="search" name="dateCheckIn"
                       th:value="${dateIn}" aria-label="Search">
                <input class="form-control me-2 buttons" type="search" name="dateCheckOut"
                       th:value="${dateOut}" aria-label="Search">
                <button class="btn btn-outline-success buttons" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>STT</th>
                <th>Customer</th>
                <th>Service</th>
                <th>Date Check In</th>
                <th>Date Out</th>
                <th>Deposit</th>
                <th colspan="2">Action</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fa, loop : ${contractList}">
                <td th:text="${loop.count}"></td>
                <td th:text="${fa.customer.name}"></td>
                <td th:text="${fa.facility.name}"></td>
                <td th:text="${fa.dateCheckIn}"></td>
                <td th:text="${fa.dateCheckOut}"></td>
                <td th:text="${fa.deposit}"></td>
                <td>
                    <button class="btn btn-success-primary" data-toggle="modal"
                            th:data-target="'#modalDetailsContract'+${fa.id}"
                            th:onclick="'getIdContract('+${fa.id}+')'">
                        +
                    </button>

                    <!-- The Modal -->
                    <form th:object="${detailsContractList}" action="/contract/createDetailsContract" method="post">
                        <div class="modal fade" th:id="'modalDetailsContract'+${fa.id}" style="color: #4E944F">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">DetailsContract to contract Id: <span
                                                th:text="${fa.id}"></span></h4>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <input type="hidden" th:field="*{fa.id}" th:id="'contractId'+${fa.id}">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Select Attach Service</th>
                                                <th>Amount</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select th:field="*{facilityAttach.id}" class="form-select">
                                                        <option th:each="attach :${facilityAttachList}"
                                                                th:value="${attach.id}"
                                                                th:text="${attach.name}">
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input th:field="*{quantity}" class="form-control">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-danger">Add</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-toggle="modal"
                            th:data-target="'#facilityAttachModal'+${fa.id}">
                        Attach Service List
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="'facilityAttachModal'+${fa.id}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #4E944F">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Attach Service have in contract id : <span th:text="${fa.id}"></span>
                                    </h5>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>ST</th>
                                            <th>Name</th>
                                            <th>Cost</th>
                                            <th>Unit</th>
                                        </tr>
                                        <tr th:each="attach,loop :${facilityAttachList}">
                                            <td th:text="${loop.count}"></td>
                                            <td th:text="${attach.name}"></td>
                                            <td th:text="${attach.unit}"></td>
                                            <td th:text="${attach.cost}"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#staticBackdrop' + ${fa.id}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="staticBackdrop + ${fa.id}" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="staticBackdropLabel">Warning!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Do you want delete Contract <span th:text="${fa.customer.name}" class="text-warning"></span>
                                    with id = <span th:text="${fa.id}" class="text-warning"></span> ?
                                </div>
                                <div class="modal-footer">
                                    <a href="" th:href="@{/contract/delete/{id}(id=${fa.id})}"
                                       class="btn btn-outline-success">Delete</a>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-9"></div>

            <div class="col-3">
                <ul class="pagination" th:if="${contractList.totalPages > 0}">
                    <li class="page-item">
                        <a class="page-link" th:if="${contractList.hasPrevious()}"
                           th:href="@{'/contract'(page=${contractList.number - 1}, searchDateIn=${dateIn},searchDateOut=${dateOut})}">
                            Previous
                        </a>
                    </li>
                    <div th:each="item, loop : ${#numbers.sequence(1, contractList.totalPages )}">
                        <div th:if="${(contractList.number + 1) == item}">
                            <li class="page-item active">
                                <a class="page-link" href="#" th:text="${item}" th:href="@{/contract(page=(${item}-1),
                             searchDateIn=${dateIn},searchDateOut=${dateOut})}"></a>
                            </li>
                        </div>
                        <div th:unless="${((contractList.number + 1) == item)}">
                            <li class="page-item">
                                <a class="page-link" href="#" th:text="${item}" th:href="@{/contract(page=(${item}-1),
                             searchDateIn=${dateIn},searchDateOut=${dateOut} )}"></a>
                            </li>
                        </div>
                    </div>
                    <li class="page-item">
                        <a class="page-link" th:if="${contractList.hasNext()}"
                           th:href="@{'/contract'(page=${contractList.number + 1}, searchDateIn=${dateIn},searchDateOut=${dateOut})}">
                            Next
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<footer id="footer" th:replace="~{style :: bootstrapBodyDiv}"></footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:replace="~{/style :: bootstrapFooter}"></th:block>
</body>
<script>
    function getIdContract(id) {
        console.log(id);
        $("#contractId" + `${id}`).val(id);
    }
</script>
</html>