<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{style :: bootstrapHeader}">
</head>
<body>
<header th:replace="~{style :: bootstrapHeaderBody}"></header>


<section class="container">
    <div class="p-3 text-center bg-image"
         style="height: 150px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h1 class="mb-3 management">Contract Management</h1>
                    <a href="" th:href="@{/contract/create}" class="btn btn-outline-success btn-lg buttons"
                       role="button">Create
                        Contract</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
            <form class="d-flex">
                <input class="form-control me-2 buttons1" type="date" name="searchDateIn"
                       th:value="${dateIn}" aria-label="Search">
                <input class="form-control me-2 buttons1" type="date" name="searchDateOut"
                       th:value="${dateOut}" aria-label="Search">
                <button class="btn btn-outline-success buttons1" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>STT</th>
                <th>Customer</th>
                <th>Service</th>
                <th>Date Check In</th>
                <th>Date Out</th>
                <th>Deposit</th>
                <th>Total Money</th>
                <th colspan="2" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fa, loop : ${contractList}">
                <td th:text="${loop.count}"></td>
                <td th:text="${fa.customer.name}"></td>
                <td th:text="${fa.facility.name}"></td>
                <td th:text="${fa.dateCheckIn}"></td>
                <td th:text="${fa.dateCheckOut}"></td>
                <td th:text="${fa.deposit}"></td>
                <td th:text="${#numbers.formatDecimal(fa.totalMoney, 0, 'DEFAULT', 0, 'DEFAULT')}"></td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        th:data-bs-target="'#staticBackdrop'  + ${fa.id}">
                        +
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="staticBackdrop + ${fa.id}" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content get-in-touch">
                                <div class="modal-header">
                                    <h6 class="modal-title titleModal" id="staticBackdropLabelCreate">Create Details
                                        Contract</h6>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <form class="contact-form row" action="contract/createDetailsContract"
                                              method="post"
                                              th:object="${detailsContract}">

                                            <div class="form-field col-lg-6">
                                                <select class="form-select" th:field="*{facilityAttach}">
                                                    <option value="">Attach Service</option>
                                                    <option th:each="item, loop : ${facilityAttachList}"
                                                            th:text="${item.name}" th:value="${item.id}"></option>
                                                </select>
                                            </div>

                                            <div class="form-field col-lg-6">
                                                <input th:field="*{quantity}" class="input-text js-input" type="text" required>
                                                <label class="label" >Quantity</label>
                                            </div>

                                            <div class="form-field col-lg-12" type="hidden">
                                                <select th:field="*{contract}"  class="input-text js-input" >
                                                    <option th:value="${fa.id}"></option>
                                                </select>
                                            </div>
                                            <div class="row">
                                                <div class="col-4"></div>
                                                <div class="col-4 text-center">
                                                    <input type="submit" class="btn btn-outline-success col-lg-12" value="Save">
                                                </div>
                                                <div class="col-4 text-center">
                                                    <button type="button" class="btn btn-outline-secondary col-lg-12 "
                                                            data-bs-dismiss="modal">clone
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <!-- danh sách các dịch vụ đi kèm-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            th:data-bs-target="'#attachFacility'  + ${fa.id}">
                        Facility Attach List
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="attachFacility + ${fa.id}" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content get-in-touch">
                                <div class="modal-header">
                                    <h5 class="modal-title titleModal" id="staticBackdropLabel2">List Service
                                        Attach</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="color: black">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Name Attach Service</th>
                                            <th scope="col">quantity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="c,loop : ${fa.contractDetailList}">
                                            <td th:text="${loop.count}"></td>
                                            <td th:text="${c.facilityAttach.name}" th:value="${c.facilityAttach.id}"></td>
                                            <td th:text="${c.quantity}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary"
                                            data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-9"></div>

            <div class="col-3">
                <ul class="pagination" th:if="${contractList.totalPages > 0}">
                    <li class="page-item">
                        <a class="page-link" th:if="${contractList.hasPrevious()}"
                           th:href="@{'/contract'(page=${contractList.number - 1}, searchDateIn=${dateIn},searchDateOut=${dateOut})}">
                            Previous
                        </a>
                    </li>
                    <div th:each="item, loop : ${#numbers.sequence(1, contractList.totalPages )}">
                        <div th:if="${(contractList.number + 1) == item}">
                            <li class="page-item active">
                                <a class="page-link" href="#" th:text="${item}" th:href="@{/contract(page=(${item}-1),
                             searchDateIn=${dateIn},searchDateOut=${dateOut})}"></a>
                            </li>
                        </div>
                        <div th:unless="${((contractList.number + 1) == item)}">
                            <li class="page-item">
                                <a class="page-link" href="#" th:text="${item}" th:href="@{/contract(page=(${item}-1),
                             searchDateIn=${dateIn},searchDateOut=${dateOut} )}"></a>
                            </li>
                        </div>
                    </div>
                    <li class="page-item">
                        <a class="page-link" th:if="${contractList.hasNext()}"
                           th:href="@{'/contract'(page=${contractList.number + 1}, searchDateIn=${dateIn},searchDateOut=${dateOut})}">
                            Next
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<footer id="footer" th:replace="~{style :: bootstrapBodyDiv}"></footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:replace="~{/style :: bootstrapFooter}"></th:block>
</body>
<script>
    function getIdContract(id) {
        console.log(id);
        $("#contractId" + `${id}`).val(id);
    }
</script>
</html>