<div style="padding: 95px 0px 145px">
  <div class="container py-5" id="container">
    <div class="form-container sign-up-container">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <h1 class="text-dark">Đăng ký</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>
        <div class="field" data-bs-toggle="username" data-bs-content="" id="field-username">
          <input id="username" type="text" class="form-control w-100" required placeholder="Nhập tên tài khoản"
                 formControlName="username" data-bs-placement="right"
                 (input)="checkErrorUsername()">
        </div>
        <div formGroupName="pass" data-bs-toggle="samePassword" data-bs-content="" id="field-samePassword">
          <div class="field space" data-bs-toggle="password" data-bs-content="" data-bs-placement="right"
               data-bs-trigger="manual" id="field-password">
            <input id="password" type="password" class="form-control w-100" required placeholder="Nhập mật khẩu"
                   formControlName="password"
                   (input)="checkErrorPassword()">
            <span class="show" (click)="showPassword()">{{passwordStatus}}</span>
          </div>
          <div class="field space" data-bs-toggle="confirmPassword" data-bs-content="" data-bs-trigger="manual"
               id="field-confirmPassword" data-bs-placement="right">
            <input id="confirmPassword" type="password" class="form-control w-100" required
                   placeholder="Xác nhận mật khẩu" formControlName="confirmPassword"
                   (input)="checkErrorConfirmPassword()">
            <span class="show" (click)="showConfirmPassword()">{{confirmPasswordStatus}}</span>
          </div>
        </div>

        <div class="field mt-4">
          <button *ngIf="buttonRegisterStatus" type="submit">Đăng Ký</button>
          <button *ngIf="!buttonRegisterStatus" type="button"
                  style="background-color: #3498db !important; color: white !important;" disabled>
            <div class="spinner-border spinner-border-sm mb-1"></div>
            Đang tải...
          </button>
        </div>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <h1 class="text-dark">Đăng nhập</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>hoặc sử dung tài khoản của bạn</span>
        <input type="text" formControlName="username" placeholder="Nhập tài khoản"/>
        <input type="password" formControlName="password" placeholder="Mật khẩu"/>

        <!-- Button trigger modal -->
        <a data-bs-toggle="modal" data-bs-target="#staticBackdropForgot">Quên mật khẩu?</a>
        <div class="modal fade" id="staticBackdropForgot" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabelForgot" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title h3 fw-bold text-brown" id="staticBackdropLabel">Tìm tài khoản
                  của bạn</h5>
              </div>
              <form [formGroup]="forgotForm" (ngSubmit)="onForgot()">
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control"
                             placeholder="name@example.com" formControlName="usernames">
                      <label>Nhập tài khoản cần khôi phục <span class="text-danger">(*)</span> :
                        <span class="text-danger fs-10"
                              *ngIf="forgotForm.controls.username.hasError('required') && forgotForm.controls.username.touched">
                            Vui lòng nhập tên tài khoản
                          </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-yellow" data-bs-dismiss="modal">Gửi</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeForgot()">Đóng
                  </button>
                </div>

              </form>

            </div>
          </div>
        </div>
        <div *ngIf="activeLogin">
          <button>Đăng nhập</button>
        </div>
        <div *ngIf="!activeLogin">
          <div *ngIf="realTimeSecond < 10">
            <div class="col-12 mb-3 w-100">
              <button class="btn btn-lg w-100 fs-6 btn-secondary disabled" type="button">0{{realTimeMinute}} :
                0{{realTimeSecond}}</button>
            </div>
          </div>
          <div *ngIf="realTimeSecond >= 10">
            <div class="col-12 mb-3 w-100">
              <button class="btn btn-lg w-100 fs-6 btn-secondary disabled" type="button">0{{realTimeMinute}}
                : {{realTimeSecond}}</button>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Chào mừng trở lại!</h1>
          <p>Hãy kết nối với chúng tôi, Vui lòng nhập thông tin đăng nhập của bạn</p>
          <button class="ghost" id="signIn" (click)="openSignIn()">Đăng nhập</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Chào, Bạn!</h1>
          <p>Nhập thông tin cá nhân của bạn và bắt đầu hành trình với chúng tôi</p>
          <button class="ghost" id="signUp" (click)="openSignIn()">Đăng ký</button>
        </div>
      </div>
    </div>
  </div>
</div>
