<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{style :: bootstrapHeader}">
</head>
<body>
<header th:replace="~{style :: bootstrapHeaderBody}"></header>


<section class="get-in-touch">
    <h1 class="title">Create Facility</h1>
    <form class="contact-form row" action="/facility/create" method="post" th:object="${facilityList}">
        <div class="form-field col-lg-6">
            <input id="name" class="input-text js-input" type="text" th:field="*{name}" required>
            <label class="label" for="name">Name</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="area" class="input-text js-input" type="text" th:field="*{area}" required>
            <label class="label" for="area">Area</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="poolArea" class="input-text js-input" type="text" th:field="*{poolArea}" required>
            <label class="label" for="poolArea">PoolArea</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="cost" class="input-text js-input" type="text" th:field="*{cost}" required>
            <label class="label" for="cost">cost</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="maxPerson" class="input-text js-input" type="text" th:field="*{maxPerson}" required>
            <label class="label" for="maxPerson">maxPerson</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="standardRoom" class="input-text js-input" type="text" th:field="*{standardRoom}" required>
            <label class="label" for="standardRoom">StandardRoom</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="descriptionOther" class="input-text js-input" type="text" th:field="*{descriptionOther}" required>
            <label class="label" for="descriptionOther">DescriptionOther</label>
        </div>
        <div class="form-field col-lg-6">
            <input id="numberOfFloors" class="input-text js-input" type="text" th:field="*{numberOfFloors}" required>
            <label class="label" for="numberOfFloors">NumberOfFloors</label>
        </div>
        <div class="form-field col-lg-6">
            <input id="facilityFree" class="input-text js-input" type="text" th:field="*{facilityFree}" required>
            <label class="label" for="facilityFree">FacilityFree</label>
        </div>
        <div class="form-field col-lg-6">
            <label class="label" >FacilityType</label>
            <select class="form-select" th:field="*{facilityType}">
                <option th:each="item,loop : ${facilityTypeList}" th:text="${item.name}" th:value="${item.id}"></option>
            </select>
        </div>
        <div class="form-field col-lg-6">
            <label class="label" >RenType</label>
            <select class="form-select" th:field="*{rentType}">
                <option th:each="item, loop : ${rentTypeList}" th:text="${item.name}" th:value="${item.id}"></option>
            </select>
        </div>
        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Submit">
        </div>
        <a href="/facility" class="btn btn-outline-secondary">Back home</a>
    </form>
</section>

<footer id="footer">
    <div th:replace="~{style :: bootstrapBodyDiv}"></div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:replace="~{style :: bootstrapFooter}"></th:block>
</body>
</html>