<!DOCTYPE html>
<html>
<head id="head">

</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">

</header><!-- End Header -->

<!-- ======= Our Clients Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="p-3 text-center bg-image"
         style="height: 150px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h2 class="mb-3 management"  >Service Management</h2>
<!--                    <a href="../facility/create" class="btn btn-outline-success btn-lg buttons" role="button">Create-->
<!--                        Service</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-service">Service</li>
                    <li data-filter=".filter-event">Event</li>
                    <li data-filter=".filter-sports">Sports</li>
                    <li data-filter=".filter-room">Room Service</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

            <div class="col-lg-4 col-md-6 portfolio-item filter-event">
                <img src="../../static/assets/img/service-img/portfolio-1.jpg" class="img-fluids" alt="">
                <div class="portfolio-info">
                    <h4>Event & Conference</h4>
                    <a href="../../static/assets/img/service-img/portfolio-1.jpg" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="Event & Conference"><i class="bx bx-plus"></i></a>

                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-trash"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-service">
                <img src="/static/assets/img/service-img/portfolio-2.jpg" class="img-fluids" alt="">
                <div class="portfolio-info">
                    <h4>Massage</h4>
                    <a href="../../static/assets/img/service-img/portfolio-2.jpg" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="Massage"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-sports">
                <img src="../../static/assets/img/service-img/portfolio-3.jpg" class="img-fluids" alt="">
                <div class="portfolio-info">
                    <h4>Sports</h4>
                    <a href="../../static/assets/img/service-img/portfolio-3.jpg" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="Sports"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-service filter-event ">
                <img src="../../static/assets/img/service-img/portfolio-5.jpg" class="img-fluids" alt="">
                <div class="portfolio-info">
                    <h4> WEDDING !!!</h4>
                    <a href="../../static/assets/img/service-img/portfolio-5.jpg" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="WEDDING !!!"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-service filter-room">
                <img src="/static/assets/img/service-img/portfolio-6.jpg" class="img-fluids" alt="">
                <div class="portfolio-info">
                    <h4>Fresh Juices</h4>
                    <a href="/static/assets/img/service-img/portfolio-6.jpg" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="Fresh Juices"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-service">
                <img src="/static/assets/img/service-img/portfolio-4.jpg" class="img-fluids" alt="">
                <div class="portfolio-info">
                    <h4>Buffet </h4>
                    <a href="/static/assets/img/service-img/portfolio-4.jpg" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="Buffet"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-room">
                <img src="/static/assets/img/service-img/portfolio-7.jpg" class="img-fluids" alt="">
                <div class="portfolio-info">
                    <h4>Room service</h4>
                    <a href="/static/assets/img/service-img/portfolio-7.jpg" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="Room service"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-sports">
                <img src="/static/assets/img/service-img/p.jpg" class="img-fluids" alt="">
                <div class="portfolio-info">
                    <h4>Sunbathing</h4>
                    <a href="/static/assets/img/service-img/p.jpg" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="Sunbathing"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-service filter-room">
                <img src="/static/assets/img/service-img/portfolio-8.jpg" class="img-fluids" alt="">
                <div class="portfolio-info">
                    <h4>Tea and Drinks</h4>
                    <a href="/static/assets/img/service-img/portfolio-8.jpg" data-gallery="portfolioGallery"
                       class="portfolio-lightbox preview-link" title="Tea and Drinks"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>


        </div>

    </div>
</section>
<!-- End Portfolio Section -->


<!-- ======= Footer ======= -->

<div id="footer-div">

</div>

</body>

<script src="../../static/assets/vendor/bootstrap/jquery/jquery.min.js"></script>

<script>
    $(function () {
        $('#head').load('/templates/heads.html')
        $('#header').load('/templates/header.html')
        $('#footer-div').load('/templates/footer.html')
    });
</script>

</html>
