<!DOCTYPE html>
<html>
<head id="head">

</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">

</header><!-- End Header -->


<section id="portfolio" class="portfolio">
    <div class="p-3 text-center bg-image"
         style="height: 80px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h2 class="mb-3 management">Update Service</h2>
                    <!--                    <a href="../facility/create" class="btn btn-outline-success btn-lg buttons" role="button">Create-->
                    <!--                        Service</a>-->
                </div>
            </div>
        </div>
    </div>

    <form class="container">
        <div class="row">
            <div class="col-lg-6">
                <label class="form-label b">Name</label>
                <input class="form-control " type="text" placeholder="enter the name" id="name" value="name" name="name" required>
            </div>
            <div class="col-lg-6">
                <label class="form-label">Area</label>
                <input class="form-control" type="text" placeholder="enter the area" id="area" value="1.0" name="area" required>
            </div>

            <div class="col-lg-6">
                <label class="form-label">Cost</label>
                <input class="form-control" type="text" placeholder="enter the cost" id="cost" value="1.1" name="cost" required>
            </div>
            <div class="col-lg-6">
                <label class="form-label">MaxPerson</label>
                <input class="form-control" type="text" placeholder="enter the maxPerson" id="maxPerson" value="10"
                       name="maxPerson" required>
            </div>

            <div class="col-lg-6">
                <label class="form-label">Rent Type</label>
                <select class="form-select" name="renType" id="renType">
                    <option value="1"> 1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="col-lg-6">
                <label class="form-label">FacilityType</label>
                <select class="form-select" name="facilityType" id="facilityType" onchange="selectFacility()">
                    <option value="1">Villa</option>
                    <option value="2">House</option>
                    <option value="3">Room</option>
                </select>
            </div>
            <!--        &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

            <div class="col-lg-6" id="standardRoom">
                <label class="form-label">StandardRoom</label>
                <input class="form-control" type="text" placeholder="enter the standardRoom" value="massage"
                       name="standardRoom" required>
            </div>
            <div class="col-lg-6" id="poolArea">
                <label class="form-label">PoolArea</label>
                <input class="form-control" type="text" placeholder="enter the poolArea"  name="poolArea" value="1.0"
                       required>
            </div>
            <div class="col-lg-6" id="descriptionOther">
                <label class="form-label">DescriptionOther</label>
                <input class="form-control" type="text" placeholder="enter the descriptionOther" value="...."
                       name="descriptionOther" required>
            </div>
            <div class="col-lg-6" id="numberOfFloors">
                <label class="form-label">NumberOfFloors</label>
                <input class="form-control" type="text" placeholder="enter the numberOfFloors" value="10"
                       name="numberOfFloors" required>
            </div>
            <div class="col-lg-6" id="facilityFree">
                <label class="form-label">FacilityFree</label>
                <input class="form-control" type="text" placeholder="enter the facilityFree" value="buffet"
                       name="facilityFree" required>
            </div>
        </div>

        <div class="text-center" style="padding-top: 10px">
            <button class="btn btn-primary">Save Create</button>
            <a href="/facility" class="btn btn-outline-secondary">Back home</a>
        </div>
    </form>

</section>

<div id="footer-div">

</div>
</body>
<script src="../../static/assets/vendor/bootstrap/jquery/jquery.min.js"></script>
<script>
    $(function () {
        $('#head').load('/templates/heads.html')
        $('#header').load('/templates/header.html')
        $('#footer-div').load('/templates/footer.html')
    });
</script>

<script>
    function selectFacility() {
        let getValue = $('#facilityType').val()
        switch (getValue) {
            case '1':
                $('#standardRoom').show()
                $('#descriptionOther').show()
                $('#poolArea').show()
                $('#numberOfFloors').show()
                $('#facilityFree').hide()
                break;
            case '2':
                $('#standardRoom').show()
                $('#descriptionOther').show()
                $('#poolArea').hide()
                $('#numberOfFloors').show()
                $('#facilityFree').hide()
                break;
            case '3':
                $('#standardRoom').hide()
                $('#descriptionOther').hide()
                $('#poolArea').hide()
                $('#numberOfFloors').hide()
                $('#facilityFree').show()
                break;
        }

    }
</script>
</html>
