<div class="bg-light">
  <section class="container">
    <div class="p-3 text-center bg-image"
         style="height: 200px;">
      <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-success">
            <h2 class="mb-3 management">Customer Management</h2>
            <a [routerLink]="'/customer-create'" class="btn btn-outline-success btn-lg buttons" role="button">Create
              Customer</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-7"></div>
      <div class="col-5">
        <div class="d-flex">
          <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="getSearch()">
            <input class="form-control me-2 buttons1" type="search" placeholder="Search By Name"
                   formControlName="searchName">
            <input class="form-control me-2 buttons1" type="search" placeholder="Search By Card"
                   formControlName="searchIdCard">
            <button type="submit" class="btn btn-outline-success buttons1">Search</button>
          </form>
        </div>
      </div>
    </div>
    <div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>STT</th>
          <th>Name</th>
          <th>BirthDay</th>
          <th>Gender</th>
          <th>IdCard</th>
          <th>Email</th>
          <th>Address</th>
          <th>CustomerType</th>
          <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of customers | paginate: { itemsPerPage: 4, currentPage: p }, index as loop ">
          <td>{{loop + 1}}</td>
          <td>{{c.name}}</td>
          <td>{{c.dateOfBird | date: 'dd-MM-yyyy'}}</td>
          <td>
          <span [ngSwitch]="c.gender">
              <span *ngSwitchCase="1"> Nam</span>
              <span *ngSwitchCase="0"> Nữ</span>
              <span *ngSwitchCase="2"> Other</span>
          </span>
          </td>
          <td>{{c.idCard}}</td>
          <td>{{c.email}}</td>
          <td>{{c.address}}</td>
          <td>{{c.customerType.name}}</td>
          <td>
            <a [routerLink]="['/customer-edit',c.id]" class="btn btn-outline-warning">Edit</a>
          </td>

          <td style="text-align: center">
            <button class="btn btn-outline-danger" data-bs-toggle="modal"
                    [attr.data-bs-target]="'#deleteModal' + c.id">Delete
            </button>
            <!-- delete Modal -->
            <div class="modal fade" id="deleteModal{{c.id}}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title text-danger"> SOS SOS !!!</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    Are You Sure Delete Customer {{c.name}} ?? :) ??
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteCustomer(c.id)">
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end delete Modal -->
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row col-12">
      <div class="col-8"></div>
      <div class="col-4">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </section>

</div>
