<div class="container mt-3 ">

  <!-- Carousel Start -->
  <div class=" row px-xl-1">
    <div class="col-lg-8">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                  aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                  aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                  aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                  aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/carousel/carousel-7.jpg" class="d-block w-100" alt="..." style="height: 290px;">
          </div>
          <div class="carousel-item">
            <img src="assets/img/carousel/carousel-3.jpg" class="d-block w-100" alt="..." style="height: 290px;">
          </div>
          <div class="carousel-item">
            <img src="assets/img/carousel/carousel-2.jpg" class="d-block w-100" alt="..." style="height: 290px;">
          </div>
          <div class="carousel-item">
            <img src="assets/img/carousel/carousel-8.jpg" class="d-block w-100" alt="..." style="height: 290px;">
          </div>
          <div class="carousel-item">
            <img src="assets/img/carousel/carousel-1.jpg" class="d-block w-100" alt="..." style="height: 290px;">
          </div>
          <div class="carousel-item">
            <img src="assets/img/carousel/carousel-5.jpg" class="d-block w-100" alt="..." style="height: 290px;">
          </div>
          <div class="carousel-item">
            <img src="assets/img/carousel/carousel-4.jpg" class="d-block w-100" alt="..." style="height: 290px;">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="product-offer mb-2" style="height: 141px;">
        <img class="img-fluid" src="assets/img/carousel/offer-1.jpg" alt="">
        <!--        <div class="offer-text">-->
        <!--          <h6 class="text-white text-uppercase">Khuyến mãi 20% ngay hôm nay</h6>-->
        <!--          <a href="" class="btn btn-primary">Chọn ngay</a>-->
        <!--        </div>-->
      </div>
      <div class="product-offer mb-30" style="height: 141px;">
        <img class="img-fluid" src="assets/img/carousel/offer-2.jpg" alt="">
        <!--        <div class="offer-text">-->
        <!--          <h6 class="text-white text-uppercase">Khuyến mãi 20% ngay hôm nay</h6>-->
        <!--          <a href="" class="btn btn-primary">Chọn ngay</a>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
  <!-- Carousel End -->

  <!-- Featured Start -->
  <div class="container-fluid mb-3">
    <div class="row ">
      <img src="assets/img/qua-tang-mien-phi">
    </div>
  </div>
  <!-- Featured End -->

  <!-- Categories Start -->
  <div class="container-fluid pt-2 sp mb-4 radius-2">
    <img class="w-100" src="assets/img/deal-soc.png">
    <div class="row pb-1">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a class="text-decoration-none" href="">
          <div class="cat-item d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="assets/img/product/product-23.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>TiVi</h6>
              <small class="text-body">100 Sản phẩm</small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 ">
        <a class="text-decoration-none" href="">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="assets/img/product/product-18.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Máy ảnh</h6>
              <small class="text-body">100 Sản phẩm</small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a class="text-decoration-none" href="">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="assets/img/product/product-3.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Thiết bị hỗ trợ</h6>
              <small class="text-body">100 Sản phẩm</small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="assets/img/product/product-24.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Thiết bị công nghệ</h6>
              <small class="text-body">100 Sản phẩm</small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a class="text-decoration-none" href="">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="assets/img/product/product-5.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>CPU</h6>
              <small class="text-body">100 Sản phẩm</small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 ">
        <a class="text-decoration-none" href="">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="assets/img/product/product-7.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Iphone</h6>
              <small class="text-body">100 Sản phẩm</small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a class="text-decoration-none" href="">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="assets/img/cat-2.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Máy ảnh</h6>
              <small class="text-body">100 Sản phẩm</small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a class="text-decoration-none" href="">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="assets/img/product/product-4.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Máy tính để bàn</h6>
              <small class="text-body">100 Sản phẩm</small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a class="text-decoration-none" href="">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="assets/img/product/product-1.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Laptop</h6>
              <small class="text-body">100 Sản phẩm</small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a class="text-decoration-none" href="">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="assets/img/product/product-17.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Máy ảnh thông minh</h6>
              <small class="text-body">100 Sản phẩm</small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a class="text-decoration-none" href="">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="assets/img/product/product-16.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Dụng cụ máy ảnh</h6>
              <small class="text-body">100 Sản phẩm</small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a class="text-decoration-none" href="">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="assets/img/cat-3.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Giày</h6>
              <small class="text-body">100 Sản phẩm</small>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Categories End -->

  <!-- Shop Start -->
  <div class="container-fluid pt-2 sp-1 mb-4 radius-2">
    <img class="w-100" src="assets/img/bg/sieu-mua.jpg">
    <div class="row pl-3 pr-0">

      <!-- Shop Sidebar Start -->
      <form class="col-lg-3 col-md-4 mb-30">
        <!-- Image Start -->
        <div>
          <h4 class="section-title position-relative text-uppercase mb-4 mt-4"><span
            class="text-white pr-2">Chọn Hãng SX:</span>
          </h4>
          <div class=" row col-12 radius-1">
            <a class="col-4 mb-2 d-flex align-items-center justify-content-between radius-1" href="#">
              <img class="img-fluid-1 w-100 radius-1" src="assets/img/hang-sx/vendor-1.jpg" alt="">
            </a>
            <a class="col-4 mb-2 d-flex align-items-center justify-content-between radius-1" href="#">
              <img class="img-fluid-1 w-100 radius-1" src="assets/img/hang-sx/vendor-2.jpg" alt="">
            </a>
            <a class="col-4 mb-2 d-flex align-items-center justify-content-between radius-1" href="#">
              <img class="img-fluid-1 w-100 radius-1" src="assets/img/hang-sx/vendor-3.jpg" alt="">
            </a>
            <a class="col-4 mb-2 d-flex align-items-center justify-content-between radius-1" href="#">
              <img class="img-fluid-1 w-100 radius-1" src="assets/img/hang-sx/vendor-4.jpg" alt="">
            </a>
            <a class="col-4 mb-2 d-flex align-items-center justify-content-between radius-1" href="#">
              <img class="img-fluid-1 w-100 radius-1" src="assets/img/hang-sx/vendor-5.jpg" alt="">
            </a>
            <a class="col-4 mb-2 d-flex align-items-center justify-content-between radius-1" href="#">
              <img class="img-fluid-1 w-100 radius-1" src="assets/img/hang-sx/vendor-6.jpg" alt="">
            </a>
            <a class="col-4 mb-2 d-flex align-items-center justify-content-between radius-1" href="#">
              <img class="img-fluid-1 w-100 radius-1" src="assets/img/hang-sx/vendor-7.jpg" alt="">
            </a>
            <a class="col-4 mb-2  d-flex align-items-center justify-content-between radius-1" href="#">
              <img class="img-fluid-1 w-100 radius-1" src="assets/img/hang-sx/vendor-8.jpg" alt="">
            </a>
            <a class="col-4 mb-2 d-flex align-items-center justify-content-between radius-1" href="#">
              <img class="img-fluid-1 w-100 radius-1" src="assets/img/hang-sx/vendor-9.jpg" alt="">
            </a>
          </div>
        </div>
        <!-- Image End -->
  <hr>
        <!-- Price Start -->
        <div>
          <h4 class="section-title position-relative text-uppercase mb-2 mt-4"><span
            class="text-white pr-2">Chọn Mức Giá:</span>
          </h4>
          <div class=" p-3 row col-12 radius-2">
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" checked id="price-all">
              <label class="custom-control-label text-white" for="price-all">Trên 20 triệu</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="price-1">
              <label class="custom-control-label text-white" for="price-1">Dưới 7 triệu</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="price-2">
              <label class="custom-control-label text-white" for="price-2">Từ 7 đến 10 triệu</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="price-3">
              <label class="custom-control-label text-white" for="price-3">Từ 10 đến 12 triệu</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="price-4">
              <label class="custom-control-label text-white" for="price-4">Từ 12 đến 15 triệu</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="price-5">
              <label class="custom-control-label text-white" for="price-5">Từ 15 đến 20 triệu</label>
            </div>

          </div>
        </div>
        <!-- Price End -->
<hr>
        <!-- Color Start -->
        <div>
          <h4 class="section-title position-relative text-uppercase mb-2 mt-4"><span
            class="text-white pr-2">Chọn Màu Sắc:</span>
          </h4>
          <div class=" p-3 row col-12 radius-2">
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" checked id="color-all">
              <label class="custom-control-label text-white" for="price-all">Tất cả</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="color-1">
              <label class="custom-control-label text-white" for="color-1">Màu đen</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="color-2">
              <label class="custom-control-label text-white" for="color-2">Màu trắng</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="color-3">
              <label class="custom-control-label text-white" for="color-3">Màu đỏ</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="color-4">
              <label class="custom-control-label text-white" for="color-4">Màu xanh lục</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between  mb-3">
              <input type="checkbox" class="custom-control-input" id="color-5">
              <label class="custom-control-label text-white" for="color-5">Màu xanh lá</label>
            </div>
          </div>
          <!-- Color End -->
        </div>
<hr>
        <!-- Size Start -->
        <div>
          <h4 class="section-title position-relative text-uppercase mb-2 mt-4"><span class="text-white pr-2">Chọn Theo Size:</span>
          </h4>
          <div class=" row col-12  p-3 radius-2">
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" checked id="size-all">
              <label class="custom-control-label text-white" for="size-all">Tất cả size</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="size-1">
              <label class="custom-control-label text-white" for="size-1">XS</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="size-2">
              <label class="custom-control-label text-white" for="size-2">S</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="size-3">
              <label class="custom-control-label text-white" for="size-3">M</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="size-4">
              <label class="custom-control-label text-white" for="size-4">L</label>
            </div>
            <div class="col-6 custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input" id="size-5">
              <label class="custom-control-label text-white" for="size-5">XL</label>
            </div>
          </div>
        </div>

        <!-- Size End -->
      </form>
      <!-- Shop Sidebar End -->

      <!-- Shop Product Start -->
      <div class="col-lg-9 row col-md-12 pt-1">
        <div class="row col-lg-12 pb-3 pr-1">
          <div class="col-lg-12 pb-1 ">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <div>
                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
              </div>
              <div class="ml-2">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                          data-toggle="dropdown">Sắp xếp theo
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Latest</a>
                    <a class="dropdown-item" href="#">Popularity</a>
                    <a class="dropdown-item" href="#">Best Rating</a>
                  </div>
                </div>
                <div class="btn-group ml-2">
                  <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                          data-toggle="dropdown">Xem số lượng
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">10</a>
                    <a class="dropdown-item" href="#">20</a>
                    <a class="dropdown-item" href="#">30</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-fate-2 pb-1 pr-1 pl-1" *ngFor="let p of product">
            <div class=" product-item bg-light mb-3" >
              <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" [src]="p.image" alt="">
                <div class="product-action">
                  <a class="btn btn-outline-dark btn-square" href=""><i
                    class="fa fa-shopping-cart"></i></a>
                  <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                  <a class="btn btn-outline-dark btn-square" [routerLink]="['/detail-product',p.id]"><i class="fa fa-search"></i></a>
                </div>
              </div>
              <div class="text-center py-1">
                <a class="h6 text-decoration-none text-truncate" href="">{{p.name}} </a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <b class="text-danger">{{p.price | currency: 'VND' : ''}}đ</b>
                  <b class="text-muted ml-2">
                    <del class="text-success">({{p.discount}}%)</del>
                  </b>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small>({{p.quantity}})</small>
                </div>
              </div>
              <div class="col-sm-12 row text-center m-0" *ngIf="role === 'ROLE_ADMIN'">
                <a class="btn btn-outline-dark btn-square col-sm-6  item-text" [routerLink]="['/edit-product',p.id]" >
                  <i class="fa-sharp fa-solid fa-pen text-primary " style="font-size: 22px"></i>Sửa</a>
                <a class="btn btn-outline-dark btn-square col-sm-6 item-text" type="button" data-bs-toggle="modal"
                   [attr.data-bs-target]="'#staticBackdropDelete' + p.id">
                  <i class="fa-sharp fa-solid fa-trash text-danger " style="font-size: 22px"></i>Xóa</a>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="staticBackdropDelete{{p.id}}" data-bs-backdrop="static"
                   data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelDelete" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title text-danger" id="staticBackdropLabelDelete">Xóa sản phẩm</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Bạn có muốn xóa sản phẩm <span class="text-danger">{{p.name}}</span> của hãng <span>{{p.manufacturer}}</span> không?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-primary" (click)="deleteProduct(p.id)">Xóa
                      </button>
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <nav>
              <ul class="pagination justify-content-center">
                <div *ngIf="number == 0">
                  <li class="page-item disabled">
                    <button class="page-link" (click)="goPrevious()" hidden>Quay Lại</button>
                  </li>
                </div>
                <div *ngIf="number != 0">
                  <li class="page-item">
                    <button class="page-link" (click)="goPrevious()">Quay Lại</button>
                  </li>
                </div>
                <div *ngFor="let count of countTotalPages; index as i">
                  <div *ngIf="i == number">
                    <li class="page-item active">
                      <button class="page-link" (click)="goItem(i)">{{i + 1}}</button>
                    </li>
                  </div>
                  <div *ngIf="i != number">
                    <li class="page-item">
                      <button class="page-link" (click)="goItem(i)">{{i + 1}}</button>
                    </li>
                  </div>
                </div>
                <div *ngIf="number == totalPages - 1">
                  <li class="page-item disabled">
                    <button class="page-link" (click)="goNext()">Tiếp</button>
                  </li>
                </div>
                <div *ngIf="number != totalPages - 1">
                  <li class="page-item">
                    <button class="page-link" (click)="goNext()">Tiếp</button>
                  </li>
                </div>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- Shop Product End -->

    </div>
  </div>
  <!-- Shop End -->

  <!-- Featured Start -->
  <div class="container-fluid mb-3">
    <div class="row">
      <img src="assets/img/sale">
    </div>
  </div>
  <!-- Featured End -->

  <!-- Products Start -->
  <div class="container-fluid pt-2 pb-2 ">
    <h2 class="section-title position-relative text-uppercase  mb-4"><span class="bg-white" style="border-radius: 12px">Sản Phẩm Nổi Bật:</span>
    </h2>
    <div class="row ">
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <div class="product-item bg-light mb-4">
          <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="assets/img/product/product-7.jpg" alt="">
            <div class="product-action">
              <a class="btn btn-outline-dark btn-square" href=""><i
                class="fa fa-shopping-cart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
          </div>
          <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="">Iphone 13 Pro Max</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <h5 class="text-danger">$123.00</h5>
              <h6 class="text-muted ml-2">
                <del>$123.00</del>
              </h6>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small>(99)</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <div class="product-item bg-light mb-4">
          <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="assets/img/product/product-4.jpg" alt="">
            <div class="product-action">
              <a class="btn btn-outline-dark btn-square" href=""><i
                class="fa fa-shopping-cart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
          </div>
          <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <h5 class="text-danger">$123.00</h5>
              <h6 class="text-muted ml-2">
                <del>$123.00</del>
              </h6>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star-half-alt text-primary mr-1"></small>
              <small>(99)</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <div class="product-item bg-light mb-4">
          <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="assets/img/product/product-18.jpg" alt="">
            <div class="product-action">
              <a class="btn btn-outline-dark btn-square" href=""><i
                class="fa fa-shopping-cart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
          </div>
          <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <h5 class="text-danger">$123.00</h5>
              <h6 class="text-muted ml-2">
                <del>$123.00</del>
              </h6>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star-half-alt text-primary mr-1"></small>
              <small class="far fa-star text-primary mr-1"></small>
              <small>(99)</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <div class="product-item bg-light mb-4">
          <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="assets/img/product/product-24.jpg" alt="">
            <div class="product-action">
              <a class="btn btn-outline-dark btn-square" href=""><i
                class="fa fa-shopping-cart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
          </div>
          <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <h5 class="text-danger">$123.00</h5>
              <h6 class="text-muted ml-2">
                <del>$123.00</del>
              </h6>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="far fa-star text-primary mr-1"></small>
              <small class="far fa-star text-primary mr-1"></small>
              <small>(99)</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <div class="product-item bg-light mb-4">
          <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="assets/img/product/product-5.jpg" alt="">
            <div class="product-action">
              <a class="btn btn-outline-dark btn-square" href=""><i
                class="fa fa-shopping-cart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
          </div>
          <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <h5>$123.00</h5>
              <h6 class="text-muted ml-2">
                <del>$123.00</del>
              </h6>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small>(99)</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <div class="product-item bg-light mb-4">
          <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="assets/img/product/product-23.jpg" alt="">
            <div class="product-action">
              <a class="btn btn-outline-dark btn-square" href=""><i
                class="fa fa-shopping-cart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
          </div>
          <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <h5 class="text-danger">$123.00</h5>
              <h6 class="text-muted ml-2">
                <del>$123.00</del>
              </h6>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star-half-alt text-primary mr-1"></small>
              <small>(99)</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <div class="product-item bg-light mb-4">
          <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="assets/img/product/product-3.jpg" alt="">
            <div class="product-action">
              <a class="btn btn-outline-dark btn-square" href=""><i
                class="fa fa-shopping-cart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
          </div>
          <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <h5 class="text-danger">$123.00</h5>
              <h6 class="text-muted ml-2">
                <del>$123.00</del>
              </h6>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star-half-alt text-primary mr-1"></small>
              <small class="far fa-star text-primary mr-1"></small>
              <small>(99)</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <div class="product-item bg-light mb-4">
          <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="assets/img/product/product-10.jpg" alt="">
            <div class="product-action">
              <a class="btn btn-outline-dark btn-square" href=""><i
                class="fa fa-shopping-cart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
          </div>
          <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <h5 class="text-danger">$123.00</h5>
              <h6 class="text-muted ml-2">
                <del>$123.00</del>
              </h6>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="far fa-star text-primary mr-1"></small>
              <small class="far fa-star text-primary mr-1"></small>
              <small>(99)</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Products End -->

  <!-- Offer Start -->
  <div class="container-fluid pt-2">
    <div class="row">
      <div class="col-md-6">
        <div class="product-offer mb-30" style="height: 300px;">
          <img class="img-fluid" src="assets/img/carousel/offer-1.jpg" alt="">
          <div class="offer-text">
            <h6 class="text-white text-uppercase">Giảm giá 20%</h6>
            <h3 class="text-white mb-3">Đề Nghị Đặc Biệt</h3>
            <a href="" class="btn btn-primary">Mua Ngay</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-offer mb-30" style="height: 300px;">
          <img class="img-fluid" src="assets/img/carousel/offer-2.jpg" alt="">
          <div class="offer-text">
            <h6 class="text-white text-uppercase">Giảm giá 20%</h6>
            <h3 class="text-white mb-3">Đề Nghị Đặc Biệt</h3>
            <a href="" class="btn btn-primary">Mua Ngay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Offer End -->

  <!-- Back to Top -->
  <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
</div>


