<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{style :: bootstrapHeader}">
</head>
<body>
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <a class="logo"><img src="assets/img/slide/sharingan"/></a>
        <h1 class="logo me-auto"><a href=""><span>Fu</span>rama</a></h1>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a href="home.html" class="active">Home</a></li>
                <li><a href="/customer">Customer</a></li>
                <li><a href="/employee">Employee</a></li>
                <li><a href="/service">Service</a></li>
                <li><a href="/contract">Contract</a></li>
                <li class="dropdown"><a href="#"><span>Another</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/details-contract">Detail Contract</a></li>
                        <li><a href="/booking">Booking</a></li>
                        <li><a href="/customer-using-service.html">Customer Using Service</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="header-social-links d-flex">
            <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></i></a>
        </div>
    </div>
</header><!-- End Header -->

<section class="get-in-touch">
    <h1 class="title">Create Customer</h1>
    <form class="contact-form row">
        <div class="form-field col-lg-6">
            <input id="name" class="input-text js-input" type="text" required>
            <label class="label" for="name">Name</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="email" class="input-text js-input" type="email" required>
            <label class="label" for="email">E-mail</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="company" class="input-text js-input" type="text" required>
            <label class="label" for="company">Company Name</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="phone" class="input-text js-input" type="text" required>
            <label class="label" for="phone">Contact Number</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="phone1" class="input-text js-input" type="text" required>
            <label class="label" for="phone">Contact Number</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="phone2" class="input-text js-input" type="text" required>
            <label class="label" for="phone">Contact Number</label>
        </div>
        <div class="form-field col-lg-6">
            <input id="message" class="input-text js-input" type="text" required>
            <label class="label" for="message">Message</label>
        </div>
        <div class="form-field col-lg-6">
            <input id="x" class="input-text js-input" type="text" required>
            <label class="label" for="message">Message</label>
        </div>
        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Submit">
        </div>
    </form>
</section>

<footer id="footer">
    <div class="container d-md-flex py-4 footer-end">
        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Company</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Edit Designed by <a href="https://bootstrapmade.com/">Háck Bất Tử</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<th:block th:replace="~{style :: bootstrapFooter}"></th:block>
</body>
</html>